Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'rm package-lock.json # this is weird is should not be needd
  
          npm install
  
          npm run compile
  
          mkdir package
  
          cd package
  
  ...

azure-pipelines-vscode.yml:
  stages:
  - stage: build
    displayName: Build
    condition: null
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Install Node.js
      - script: 'npm install
  
          npm run compile
  
  ...

Add script description and fields
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Add options to reload Scenes, Themes, and Inputs
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Fix for #316
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

fix for #310
  src/language-service/src/schemas/automation.ts
Due: azure-pipelines-language-service.yml

fix for #319
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

fix for #304
  src/language-service/src/completionHelpers/entityIds.ts
Due: azure-pipelines-language-service.yml

fix for #291
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Fix for #284
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

1.6.5
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Add renderTemplate command. Render selected text. Display result in output channel
  package.json
  src/extension.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/schemas/generateSchemas.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add a line in the README about rendering
  README.md
Due: azure-pipelines-vscode.yml

add trigger templates
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

Update automation.ts
  src/language-service/src/schemas/automation.ts
Due: azure-pipelines-language-service.yml

Adds external_url and internal_url
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Add internal and external URL
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Add multiple 'to' states
  src/language-service/src/schemas/automation.ts
Due: azure-pipelines-language-service.yml

Allows internal and external url to be a string or a null
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Apply root changes to language server
  src/language-service/.gitignore
  src/language-service/.prettierignore
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/definition/definition.ts
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/schemaService.ts
  src/language-service/tsconfig.json
Due: azure-pipelines-language-service.yml

Fix YAML auto identation
  package.json
Due: azure-pipelines-vscode.yml

Update GitHub Actions workflows with linting
  .github/workflows/github-actions-language-service.yml
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Fix ESLinter for language server in CI
  .eslintrc.js
  src/language-service/.eslintrc.js
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Bump all depedencies again
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add support for repeat action in Home Assistant 0.113.0
  src/language-service/src/schemas/actions.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Schema improvements
  src/language-service/src/schemas/actions.ts
  src/language-service/src/schemas/integrations/scene.ts
  src/language-service/src/schemas/sensors.ts
Due: azure-pipelines-language-service.yml

Remove stale comment from schema
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add support for Secret values on general places
  src/language-service/src/schemas/core.ts
  src/language-service/src/schemas/integrations/hacs.ts
  src/language-service/src/schemas/integrations/panel_iframe.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Allow state to be a number
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Updated readme
  README.md
  assets/deprecation-warnings.png
  assets/entity_service_completion.gif
  assets/schema-documentation.png
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

1.7.0
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

updated readme
  README.md
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

filenames
  README.md
Due: azure-pipelines-vscode.yml

filenames 2
  README.md
Due: azure-pipelines-vscode.yml

1.7.1
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

version bump
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

Updated VS Code Engine (required to publish in marketplace)
  package.json
Due: azure-pipelines-vscode.yml

Updated readme
  README.md
Due: azure-pipelines-vscode.yml

removing the badges
  package.json
Due: azure-pipelines-vscode.yml

Fix Data types, extracted data & data_template types
  src/language-service/src/schemas/actions.ts
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Fix internal/external URL that went missing
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Path conditions:
  azure-pipelines-language-service.yml: any of: src/language-service, azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml: any of: *, but not: src/language-service
