Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'rm package-lock.json # this is weird is should not be needd
  
          npm install
  
          npm run compile
  
          mkdir package
  
          cd package
  
  ...

azure-pipelines-vscode.yml:
  stages:
  - stage: build
    displayName: Build
    condition: null
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Install Node.js
      - script: 'npm install
  
          npm run compile
  
  ...

Update package.json
  package.json
Due: azure-pipelines-vscode.yml

Update src/extension.ts
  src/extension.ts
Due: azure-pipelines-vscode.yml

Lint
  src/extension.ts
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Added count filter
  syntaxes/home-assistant/jinja-keywords.tmLanguage
Due: azure-pipelines-vscode.yml

Added count filter (#1885)
  syntaxes/home-assistant/jinja-keywords.tmLanguage
Due: azure-pipelines-vscode.yml

Create a group from selected entities
  package.json
  src/extension.ts
  src/queries.ts
Due: azure-pipelines-vscode.yml

Make `style` optional in divider entity row
  src/language-service/src/schemas/lovelace/rows.ts
Due: azure-pipelines-language-service.yml

Make `style` optional in divider entity row (#1898)
  src/language-service/src/schemas/lovelace/rows.ts
Due: azure-pipelines-language-service.yml

Add support for binary sensor tod
  src/language-service/src/schemas/integrations/core/binary_sensor.ts
  src/language-service/src/schemas/integrations/core/tod.ts
Due: azure-pipelines-language-service.yml

ran prettier
  src/language-service/src/schemas/integrations/core/tod.ts
Due: azure-pipelines-language-service.yml

fix comment
  src/language-service/src/schemas/integrations/core/tod.ts
Due: azure-pipelines-language-service.yml

Publishing to Open VSX
  .github/workflows/github-actions-vscode-extension.yml
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Testing with open vsx
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Testing with open VSX
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Working Open VSX Publish
  .github/workflows/github-actions-vscode-extension.yml
  package.json
Due: azure-pipelines-vscode.yml

Update minimum value from 1 to 0 for input_text.min
  src/language-service/src/schemas/integrations/core/input_text.ts
Due: azure-pipelines-language-service.yml

Update minimum value from 1 to 0 for input_text.min (#1936)
  src/language-service/src/schemas/integrations/core/input_text.ts
Due: azure-pipelines-language-service.yml

Adjustments
  .eslintrc.js
  src/extension.ts
  src/server/server.ts
Due: azure-pipelines-vscode.yml

:arrow_down: vscode-json-languageservice to 3.9.1
  package-lock.json
  package.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

:arrow_down: vscode-json-languageservice to 3.9.1
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

:arrow_down: vscode-json-languageservice to 3.9.1 (#1983)
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

:ambulance: Fix schema collissions between platforms and template
  src/language-service/src/schemas/integrations/core/template.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Add support for trigger variables
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Correct documentation links
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Add support for trigger variables (#1986)
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Tiny tweak
  src/language-service/src/schemas/integrations/core/tod.ts
Due: azure-pipelines-language-service.yml

Prettier
  src/language-service/src/schemas/integrations/core/tod.ts
Due: azure-pipelines-language-service.yml

:ambulance: Fix schema collisions between platforms and template (#1985)
  src/language-service/src/schemas/integrations/core/template.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Add support for binary sensor tod (#1908)
  src/language-service/src/schemas/integrations/core/binary_sensor.ts
  src/language-service/src/schemas/integrations/core/tod.ts
Due: azure-pipelines-language-service.yml

Add support for shorthand conditions
  src/language-service/src/schemas/integrations/conditions.ts
  src/language-service/src/schemas/integrations/core/automation.ts
Due: azure-pipelines-language-service.yml

Add support for shorthand conditions (#1987)
  src/language-service/src/schemas/integrations/conditions.ts
  src/language-service/src/schemas/integrations/core/automation.ts
Due: azure-pipelines-language-service.yml

:ambulance: Fix typo in stat_type
  src/language-service/src/schemas/lovelace/cards/statistics_graph.ts
Due: azure-pipelines-language-service.yml

Prettier
  src/language-service/src/schemas/integrations/conditions.ts
  src/language-service/src/schemas/integrations/core/automation.ts
Due: azure-pipelines-language-service.yml

:ambulance: Fix typo in stat_type (#1988)
  src/language-service/src/schemas/integrations/conditions.ts
  src/language-service/src/schemas/integrations/core/automation.ts
  src/language-service/src/schemas/lovelace/cards/statistics_graph.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.27.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Allow multiple for devices, areas and entities
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Add webostv.turn_on trigger to triggers schema
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

move WebOSTvTrigger to its own integration file
  src/language-service/src/schemas/integrations/core/webostv.ts
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Path conditions:
  azure-pipelines-language-service.yml: any of: src/language-service, azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml: any of: *, but not: src/language-service
