Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'rm package-lock.json # this is weird is should not be needd
  
          npm install
  
          npm run compile
  
          mkdir package
  
          cd package
  
  ...

azure-pipelines-vscode.yml:
  stages:
  - stage: build
    displayName: Build
    condition: null
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Install Node.js
      - script: 'npm install
  
          npm run compile
  
  ...

Add entity reference support in time condition
  src/language-service/src/schemas/conditions.ts
Due: azure-pipelines-language-service.yml

Add missing import
  src/language-service/src/schemas/conditions.ts
Due: azure-pipelines-language-service.yml

Add support for using input entities in conditions (#612)
  src/language-service/src/schemas/conditions.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add support for script and automation variables
  src/language-service/src/schemas/actions.ts
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/integrations/script.ts
Due: azure-pipelines-language-service.yml

Add support for script and automation variables (#613)
  src/language-service/src/schemas/actions.ts
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/integrations/script.ts
Due: azure-pipelines-language-service.yml

Add the ability to reload bayesian integration
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add the ability to reload bayesian integration (#614)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add the ability to reload telegram integration
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add the ability to reload telegram integration (#615)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add the ability to reload smtp integration
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add the ability to reload smtp integration (#616)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add the ability to reload mqtt integration
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add the ability to reload mqtt integration (#617)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add the ability to reload rpi_gpio integration
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add the ability to reload rpi_gpio integration (#618)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Bump version to v1.9.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Bump version to v1.9.0 (#619)
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix allow persons entities in zone conditions
  src/language-service/src/schemas/conditions.ts
Due: azure-pipelines-language-service.yml

Fix allow persons entities in zone conditions (#633)
  src/language-service/src/schemas/conditions.ts
Due: azure-pipelines-language-service.yml

Add property 'unique_id' to template sensor entry
  src/language-service/src/schemas/sensors.ts
Due: azure-pipelines-language-service.yml

Use common js version of HAWS
  src/language-service/package.json
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/home-assistant/socket.ts
Due: azure-pipelines-language-service.yml

Bump home-assistant-js-websocket
  package-lock.json
  package.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Use common js version of HAWS (#668)
  package-lock.json
  package.json
  src/language-service/package.json
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/home-assistant/socket.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add media player device classes and update sensor classes
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add media player device classes and update sensor classes (#669)
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Fix allow group integration without groups
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Fix allow group integration without groups (#670)
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Fix missing name property for Media Control card
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Add property 'unique_id' to template sensor entry (#658)
  src/language-service/src/schemas/sensors.ts
Due: azure-pipelines-language-service.yml

Fix missing name property for Media Control card (#671)
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.9.1
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Accept secrets everywhere
  src/language-service/src/haLanguageService.ts
  src/language-service/src/schemas/core.ts
  src/language-service/src/schemas/integrations/hacs.ts
  src/language-service/src/schemas/integrations/http.ts
  src/language-service/src/schemas/integrations/panel_iframe.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add input_number schema
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/integrations/index.d.ts
  src/language-service/src/schemas/integrations/input_number.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Accept secrets everywhere (#678)
  src/language-service/src/haLanguageService.ts
  src/language-service/src/schemas/core.ts
  src/language-service/src/schemas/integrations/hacs.ts
  src/language-service/src/schemas/integrations/http.ts
  src/language-service/src/schemas/integrations/panel_iframe.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add counter schema
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/integrations/counter.ts
  src/language-service/src/schemas/integrations/index.d.ts
Due: azure-pipelines-language-service.yml

Add entities special row button
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Add confirmation property to actions
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Fix eslint path for windows
  src/language-service/.eslintrc.js
Due: azure-pipelines-language-service.yml

Fix eslint scripts paths for Windows
  package.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Path conditions:
  azure-pipelines-language-service.yml: any of: src/language-service, azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml: any of: *, but not: src/language-service
