Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

add conversation trigger
  src/language-service/src/schemas/integrations/triggers.ts
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add conversation trigger (#2752)
  src/language-service/src/schemas/integrations/triggers.ts
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Bump version to v1.38.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add response_variable to stop action
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Ran prettier
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add response variable support to service calls
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add response_variable to stop action (#2764)
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add response variable support to service calls (#2769)
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add config entry selector
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Add config entry selector (#2770)
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.39.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add missing ID to sentence trigger
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Add missing ID to sentence trigger (#2784)
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Add wildcard support to custom sentences
  src/language-service/src/schemas/integrations/core/conversation.ts
Due: azure-pipelines-language-service.yml

Add wildcard support to custom sentences (#2785)
  src/language-service/src/schemas/integrations/core/conversation.ts
Due: azure-pipelines-language-service.yml

add action to template schema
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

formating
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

introduce Image in template Schema
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Fix supported features in entity selector filter
  src/language-service/src/schemas/integrations/core/alarm_control_panel.ts
  src/language-service/src/schemas/integrations/core/camera.ts
  src/language-service/src/schemas/integrations/core/climate.ts
  src/language-service/src/schemas/integrations/core/cover.ts
  src/language-service/src/schemas/integrations/core/fan.ts
  src/language-service/src/schemas/integrations/core/light.ts
  src/language-service/src/schemas/integrations/core/lock.ts
  src/language-service/src/schemas/integrations/core/update.ts
  src/language-service/src/schemas/integrations/core/vacuum.ts
  src/language-service/src/schemas/integrations/core/weather.ts
  src/language-service/src/schemas/integrations/selectors.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

docs: resolve vsce packaging issue with SVGs coming from unknown sources
  README.md
Due: azure-pipelines-vscode.yml

feat(perf): allow configuring search path
  package.json
  src/language-service/src/configuration.ts
  src/language-service/src/fileAccessor.ts
  src/language-service/src/haConfig/haConfig.ts
  src/server/fileAccessor.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

fix: do not prepend root path to relative file path as it is re-prepended later
  src/language-service/src/haConfig/haConfig.ts
  src/server/fileAccessor.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

fix template light: individual color modes
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Ran prettier
  src/server/server.ts
Due: azure-pipelines-vscode.yml

Fix supported features in entity selector filter (#2874)
  src/language-service/src/schemas/integrations/core/alarm_control_panel.ts
  src/language-service/src/schemas/integrations/core/camera.ts
  src/language-service/src/schemas/integrations/core/climate.ts
  src/language-service/src/schemas/integrations/core/cover.ts
  src/language-service/src/schemas/integrations/core/fan.ts
  src/language-service/src/schemas/integrations/core/light.ts
  src/language-service/src/schemas/integrations/core/lock.ts
  src/language-service/src/schemas/integrations/core/update.ts
  src/language-service/src/schemas/integrations/core/vacuum.ts
  src/language-service/src/schemas/integrations/core/weather.ts
  src/language-service/src/schemas/integrations/selectors.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

introduce Image in template Schema (#2843)
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

add action to template schema (#2842)
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Fix templated dictionary input on service calls
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Fix templated dictionary input on service calls (#3000)
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

fix template light: individual color modes (#2990)
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.40.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Introduce new entitiyIds alias "group_members"
  src/language-service/src/completionHelpers/entityIds.ts
Due: azure-pipelines-language-service.yml

Add `floor_id` to service actions
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Update calendar.ts (initial_view: "list" > "listWeek")
  src/language-service/src/schemas/lovelace/cards/calendar.ts
Due: azure-pipelines-language-service.yml

Accept bare number as configuration for sync_state
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

updates
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/integrations/core/camera.ts
  src/language-service/src/schemas/integrations/core/climate.ts
  src/language-service/src/schemas/integrations/core/cover.ts
  src/language-service/src/schemas/integrations/core/fan.ts
  src/language-service/src/schemas/integrations/core/http.ts
  src/language-service/src/schemas/integrations/core/light.ts
  src/language-service/src/schemas/integrations/core/lock.ts
  src/language-service/src/schemas/integrations/core/update.ts
  src/language-service/src/schemas/integrations/core/vacuum.ts
  src/language-service/src/schemas/integrations/core/weather.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

run formatting and linting
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Remove unneeded debug log
  src/language-service/src/haConfig/haYamlFile.ts
Due: azure-pipelines-language-service.yml

Remove unneeded debug log (#3139)
  src/language-service/src/haConfig/haYamlFile.ts
Due: azure-pipelines-language-service.yml

Don't resolve symlinks when assigning schemas
  src/language-service/src/schemas/schemaService.ts
Due: azure-pipelines-language-service.yml
