Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

Cast row entity #180
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

env_var tag #184
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml

allowing for an ID in the scene #188
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Picture Elements Icon #200
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

1.5.0
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Add support for customizing badges
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Fix some optional properties in ui-lovelace.ts
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Extra attribute secondary_info
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

json_attributes_template
  src/language-service/src/schemas/sensors.ts
Due: azure-pipelines-language-service.yml

Adds headers & footers schema definition
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Updated YAML Language Service (fixing #86)
  package-lock.json
  package.json
  src/language-service/package.json
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haConfig/haYamlFile.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Adding json_attributes_template property to mqtt sensor (#224)
  package.json
  src/language-service/src/home-assistant/socket.ts
  src/language-service/src/schemas/schemaService.ts
  src/language-service/src/schemas/sensors.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

adding alias to service action (#224)
  src/language-service/src/schemas/automation.ts
Due: azure-pipelines-language-service.yml

Fix for badges with entity id (#228)
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Revert "Fix for badges with entity id (#228)"
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Fix typo in README.md
  README.md
Due: azure-pipelines-vscode.yml

add state_color to entity cards #238
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

title for vertical-stack card #247
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Added icon property to scenes #259
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Undoing VS Code Lang Client/Server update to 6 for now
  package.json
Due: azure-pipelines-vscode.yml

package-lock update
  package-lock.json
Due: azure-pipelines-vscode.yml

1.6.0
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Updated the language service package
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

1.6.1
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

working dir?
  .github/workflows/github-actions-language-service.yml
Due: azure-pipelines-vscode.yml

Updated NPM publish logic
  .github/workflows/github-actions-language-service.yml
Due: azure-pipelines-vscode.yml

Only for master
  .github/workflows/github-actions-language-service.yml
Due: azure-pipelines-vscode.yml

Commands in readme
  .github/workflows/github-actions-language-service.yml
  README.md
Due: azure-pipelines-vscode.yml

trigger
  src/language-service/README.md
Due: azure-pipelines-language-service.yml

working dir
  .github/workflows/github-actions-language-service.yml
Due: azure-pipelines-vscode.yml

trigger 2
  src/language-service/README.md
Due: azure-pipelines-language-service.yml

working dir?
  .github/workflows/github-actions-language-service.yml
  src/language-service/README.md
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

npmrc
  .github/workflows/github-actions-language-service.yml
  src/language-service/README.md
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

added DeviceActionSchema
  src/language-service/src/schemas/automation.ts
Due: azure-pipelines-language-service.yml

Add optional icon to SequencedAction
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Removed the string[] as a type for entityid in conditions
  src/language-service/src/schemas/automation.ts
Due: azure-pipelines-language-service.yml

Update Lovelace Map Schema hours_to_show
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Add DeviceActionTemplateSchema to automation
  src/language-service/src/schemas/automation.ts
Due: azure-pipelines-language-service.yml

Change name to DeviceActionSchema
  src/language-service/src/schemas/automation.ts
Due: azure-pipelines-language-service.yml
