Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

add text entity
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

Add support for sensor device class
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

Update KNX for changes in 2023.1
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

Update list of supported sensor device classes
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Update list of supported sensor device classes (#2410)
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Update KNX for changes in 2022.12 (#2397)
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

Update KNX for changes in 2023.1 (#2407)
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.32.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add support for Tile cards
  src/language-service/src/schemas/lovelace/cards/index.d.ts
  src/language-service/src/schemas/lovelace/cards/tile.ts
  src/language-service/src/schemas/lovelace/types.ts
Due: azure-pipelines-language-service.yml

Fix URL in code doc
  src/language-service/src/schemas/lovelace/cards/tile.ts
Due: azure-pipelines-language-service.yml

Add support for Tile cards (#2415)
  src/language-service/src/schemas/lovelace/cards/index.d.ts
  src/language-service/src/schemas/lovelace/cards/tile.ts
  src/language-service/src/schemas/lovelace/types.ts
Due: azure-pipelines-language-service.yml

fix mqtt schema [device]/identifiers] unknown
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add unique_id to schema for mqtt_room sensor platform
  src/language-service/src/schemas/integrations/core/mqtt_room.ts
Due: azure-pipelines-language-service.yml

Remove deprecated Uptime YAML support
  src/language-service/src/schemas/integrations/core/sensor.ts
  src/language-service/src/schemas/integrations/core/uptime.ts
Due: azure-pipelines-language-service.yml

prettier
  src/language-service/src/schemas/integrations/core/sensor.ts
Due: azure-pipelines-language-service.yml

Remove deprecated Uptime YAML support (#2450)
  src/language-service/src/schemas/integrations/core/sensor.ts
  src/language-service/src/schemas/integrations/core/uptime.ts
Due: azure-pipelines-language-service.yml

Add conversation integration
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/conversation.ts
Due: azure-pipelines-language-service.yml

Add support for custom sentences
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/schemas/integrations/core/conversation.ts
  src/language-service/src/schemas/mappings.json
  src/language-service/src/schemas/schemaService.ts
Due: azure-pipelines-language-service.yml

Prettier
  src/language-service/src/haConfig/haConfig.ts
Due: azure-pipelines-language-service.yml

Add conversation integration (#2451)
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/conversation.ts
  src/language-service/src/schemas/mappings.json
  src/language-service/src/schemas/schemaService.ts
Due: azure-pipelines-language-service.yml

Add support for Intent Scripts
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/intent_script.ts
Due: azure-pipelines-language-service.yml

prettier
  src/language-service/src/schemas/integrations/core/intent_script.ts
Due: azure-pipelines-language-service.yml

Add support for Intent Scripts (#2452)
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/intent_script.ts
Due: azure-pipelines-language-service.yml

Clean up bunch of linters
  .eslintrc.js
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Clean up bunch of linters (#2453)
  .eslintrc.js
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Clean up bunch of linters from language service
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

Clean up bunch of linters from language service (#2454)
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

More cleanup of linters, use eslint recommended
  .eslintrc.js
  package-lock.json
  package.json
  src/language-service/.eslintrc.js
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/home-assistant/socket.ts
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/generateSchemas.ts
  src/language-service/src/schemas/lovelace/types.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

More cleanup of linters, use eslint recommended (#2455)
  .eslintrc.js
  package-lock.json
  package.json
  src/language-service/.eslintrc.js
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/home-assistant/socket.ts
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/generateSchemas.ts
  src/language-service/src/schemas/lovelace/types.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add conversation config
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/conversation.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
Due: azure-pipelines-language-service.yml

Add input_button to input reload domains
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add input_button to input reload domains (#2457)
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add conversation config (#2456)
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/conversation.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
Due: azure-pipelines-language-service.yml

Add support for reloading conversation intents
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add support for reloading conversation intents (#2458)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add unique_id to schema for mqtt_room sensor platform (#2439)
  src/language-service/src/schemas/integrations/core/mqtt_room.ts
Due: azure-pipelines-language-service.yml

fix mqtt schema [device]/identifiers] unknown (#2432)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.33.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update conversation.ts to make type optional
  src/language-service/src/schemas/integrations/core/conversation.ts
Due: azure-pipelines-language-service.yml

Update range type option in conversation module (#2482)
  src/language-service/src/schemas/integrations/core/conversation.ts
Due: azure-pipelines-language-service.yml
