Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'rm package-lock.json # this is weird is should not be needd
  
          npm install
  
          npm run compile
  
          mkdir package
  
          cd package
  
  ...

azure-pipelines-vscode.yml:
  stages:
  - stage: build
    displayName: Build
    condition: null
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Install Node.js
      - script: 'npm install
  
          npm run compile
  
  ...

Trims wrapping quotes from include paths
  src/language-service/src/definition/includes.ts
Due: azure-pipelines-language-service.yml

Add support for multiple events in event trigger
  src/language-service/src/schemas/triggers.ts
Due: azure-pipelines-language-service.yml

Fix MQTT light effect list
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Fix MQTT light effect list (#818)
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Add placeholder custom tag
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml

Add placeholder tag support (#821)
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml

Refactors implementation
  src/language-service/src/definition/includes.ts
Due: azure-pipelines-language-service.yml

Fixes bug where "Go to definition" was broken when paths were wrapped in quotes (#816)
  src/language-service/src/definition/includes.ts
Due: azure-pipelines-language-service.yml

Link documentation
  src/language-service/src/schemas/triggers.ts
Due: azure-pipelines-language-service.yml

Add Tag trigger (#747)
  src/language-service/src/schemas/triggers.ts
Due: azure-pipelines-language-service.yml

Add Lovelace integration schema
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/integrations/index.d.ts
  src/language-service/src/schemas/integrations/lovelace.ts
Due: azure-pipelines-language-service.yml

Add Lovelace integration schema (#835)
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/integrations/index.d.ts
  src/language-service/src/schemas/integrations/lovelace.ts
Due: azure-pipelines-language-service.yml

Add support for multiple tags/devices in a single trigger
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Add support for multiple tags/devices in a single trigger (#843)
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Rename placeholder custom tag to input
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml

Rename placeholder custom tag to input (#847)
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.12.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add support for the Uptime integration
  src/language-service/src/schemas/integrations/core/sensor.ts
  src/language-service/src/schemas/integrations/core/uptime.ts
Due: azure-pipelines-language-service.yml

Add deprecation warning for unit of measurement
  src/language-service/src/schemas/integrations/core/uptime.ts
Due: azure-pipelines-language-service.yml

Add support for the Uptime integration (#853)
  src/language-service/src/schemas/integrations/core/sensor.ts
  src/language-service/src/schemas/integrations/core/uptime.ts
Due: azure-pipelines-language-service.yml

Add the ability to reload knx integration
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add the ability to reload knx integration (#854)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add target to service call action
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add target to service call action (#855)
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.13.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

GitHub Actions: Node 14 + make them pretty
  .github/workflows/github-actions-language-service.yml
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Wrong working directory
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

GitHub Actions: Node 14 + make them pretty (#935)
  .github/workflows/github-actions-language-service.yml
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Added support for template sensor reload
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Change order of commands
  src/extension.ts
Due: azure-pipelines-vscode.yml

Linting
  src/extension.ts
Due: azure-pipelines-vscode.yml

Update package.json
  package.json
Due: azure-pipelines-vscode.yml

Add the ability to reload template sensors (#953)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

change editor.autoIndent=advanced - fix autoindent
  package.json
Due: azure-pipelines-vscode.yml

Improve auto indent on pasting YAML (#954)
  package.json
Due: azure-pipelines-vscode.yml

Fix MQTT tilt_command_topic type
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Path conditions:
  azure-pipelines-language-service.yml: any of: src/language-service, azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml: any of: *, but not: src/language-service
