Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

Don't resolve symlinks when assigning schemas (#3140)
  src/language-service/src/schemas/schemaService.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.40.1
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add license, upgrade to Node 18, fix publish
  .github/workflows/github-actions-vscode-extension.yml
  .nvmrc
  LICENSE.md
  README.md
Due: azure-pipelines-vscode.yml

Add license, upgrade to Node 18, fix publish (#3142)
  .github/workflows/github-actions-vscode-extension.yml
  .nvmrc
  LICENSE.md
  README.md
Due: azure-pipelines-vscode.yml

1.40.2
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Also update other worksflows
  .github/workflows/github-actions-language-service.yml
Due: azure-pipelines-vscode.yml

Fix schema generation issue and support `action` key (#3137)
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/integrations/core/camera.ts
  src/language-service/src/schemas/integrations/core/climate.ts
  src/language-service/src/schemas/integrations/core/cover.ts
  src/language-service/src/schemas/integrations/core/fan.ts
  src/language-service/src/schemas/integrations/core/http.ts
  src/language-service/src/schemas/integrations/core/light.ts
  src/language-service/src/schemas/integrations/core/lock.ts
  src/language-service/src/schemas/integrations/core/update.ts
  src/language-service/src/schemas/integrations/core/vacuum.ts
  src/language-service/src/schemas/integrations/core/weather.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Accept bare number as configuration for sync_state (#3135)
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

Fix calendar initial_view: "list" > "listWeek" (#3132)
  src/language-service/src/schemas/lovelace/cards/calendar.ts
Due: azure-pipelines-language-service.yml

Add `floor_id` to service actions (#3121)
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Introduce new entityIds keyword alias "group_members" (#3066)
  src/language-service/src/completionHelpers/entityIds.ts
Due: azure-pipelines-language-service.yml

Ran prettier
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add support for targeting labels
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add support for targeting labels (#3148)
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add support for plural automation keys
  src/language-service/src/schemas/integrations/core/automation.ts
Due: azure-pipelines-language-service.yml

Add support for plural automation keys (#3149)
  src/language-service/src/schemas/integrations/core/automation.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.41.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix Plural automation schema
  src/language-service/src/schemas/integrations/core/automation.ts
Due: azure-pipelines-language-service.yml

Fix Plural automation schema (#3152)
  src/language-service/src/schemas/integrations/core/automation.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.41.1
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update forecast template fields
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Add value_template to number.mqtt
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Update forecast template fields (#3155)
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Add value_template to number.mqtt (#3156)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Extend YAML properties of weather template
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Add sequence action support
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Extend YAML properties of weather template (#3179)
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Add support for multiple text fields in text selector
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Add sequence action support (#3180)
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add support for multiple text fields in text selector (#3181)
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.41.2
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix weather template temperature unit
  src/language-service/src/schemas/integrations/core/homeassistant.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Fix blueprint input, as it is optional
  src/language-service/src/schemas/integrations/core/automation.ts
  src/language-service/src/schemas/integrations/core/script.ts
Due: azure-pipelines-language-service.yml

Fix weather template temperature unit (#3191)
  src/language-service/src/schemas/integrations/core/homeassistant.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Fix blueprint input, as it is optional (#3192)
  src/language-service/src/schemas/integrations/core/automation.ts
  src/language-service/src/schemas/integrations/core/script.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.41.3
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add legacy syntax errors for old style automation YAML
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/integrations/selectors.ts
  src/language-service/src/schemas/integrations/triggers.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add legacy syntax errors for old style automation YAML (#3197)
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/integrations/selectors.ts
  src/language-service/src/schemas/integrations/triggers.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add area_id auto-completion
  src/language-service/src/completionHelpers/areas.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml

Add area_id auto-completion (#3198)
  src/language-service/src/completionHelpers/areas.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml
