Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

Unique names
  .github/ISSUE_TEMPLATE/yaml-error-or-warning.md
Due: azure-pipelines-vscode.yml

Better abouts
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
Due: azure-pipelines-vscode.yml

Changing packaging structure [wip]
  .gitignore
  azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml
  package-lock.json
  package.json
  src/language-service/package.json
  src/language-service/src/schemas/json/automations.json
  src/language-service/src/schemas/json/homeassistant-customize.json
  src/language-service/src/schemas/json/homeassistant-input-boolean.json
  src/language-service/src/schemas/json/homeassistant-packages.json
  src/language-service/src/schemas/json/homeassistant-scene.json
  src/language-service/src/schemas/json/homeassistant-script.json
  src/language-service/src/schemas/json/homeassistant.json
  src/language-service/src/schemas/json/lovelace-cards.json
  src/language-service/src/schemas/json/lovelace-views.json
  src/language-service/src/schemas/json/ui-lovelace.json
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Updated schema generation
  .github/workflows/github-actions-vscode-extension.yml
  azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml
  package.json
  src/language-service/package.json
  src/language-service/src/schemas/generateSchemas.ts
  src/language-service/src/schemas/schemaService.ts
  tsconfig.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Updated readme
  README.md
Due: azure-pipelines-vscode.yml

Fixes #79: Check all folders for activation files
  package.json
Due: azure-pipelines-vscode.yml

Adds configuration root folder setting
  package.json
  src/language-service/src/configuration.ts
  src/language-service/src/haConfig/haConfig.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Updated issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/yaml-error-or-warning.md
Due: azure-pipelines-vscode.yml

Style property on all cards #132
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Removed local dependency
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Fixed YAML / Script issue
  src/language-service/src/haConfig/haYamlFile.ts
Due: azure-pipelines-language-service.yml

More readme
  README.md
Due: azure-pipelines-vscode.yml

Minor clean-up
  package.json
  src/language-service/src/configuration.ts
  src/language-service/src/haConfig/haConfig.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

1.3.1
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

get json files in the package/folder
  package-lock.json
  src/language-service/package-lock.json
  tsconfig.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

1.3.2
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

execution order
  package.json
Due: azure-pipelines-vscode.yml

1.3.3
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

also for language service
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

Updated issue template
  .github/ISSUE_TEMPLATE/yaml-error-or-warning.md
Due: azure-pipelines-vscode.yml

Fix for #157
  .github/ISSUE_TEMPLATE/yaml-error-or-warning.md
  src/language-service/src/schemas/mappings.json
  src/language-service/src/schemas/sensors.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix for #156
  src/language-service/src/schemas/automation.ts
Due: azure-pipelines-language-service.yml

Updated readme referencing VS Code Remote SSH in wiki #154
  README.md
Due: azure-pipelines-vscode.yml

Create FUNDING.yml
  .github/FUNDING.yml
Due: azure-pipelines-vscode.yml

Updated to latest YAML Language Service
  .github/FUNDING.yml
  package-lock.json
  src/language-service/package.json
  src/language-service/src/haLanguageService.ts
  src/language-service/src/jsonLanguageService.ts
  src/language-service/src/schemas/schemaService.ts
  src/language-service/src/schemas/sensors.ts
  src/language-service/src/yamlLanguageService.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Updated bug template
  .github/ISSUE_TEMPLATE/bug.md
Due: azure-pipelines-vscode.yml

Repo link
  .github/ISSUE_TEMPLATE/bug.md
Due: azure-pipelines-vscode.yml

Updated lovelace
  .github/ISSUE_TEMPLATE/1. yaml-error-or-warning.md
  .github/ISSUE_TEMPLATE/2. bug.md
  .github/ISSUE_TEMPLATE/3. feature.md
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Added support for commands (#105)
  package-lock.json
  package.json
  src/extension.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Make root config folder smart #136
  package.json
  src/language-service/src/configuration.ts
  src/language-service/src/haConfig/haConfig.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Removed Azure Pipelines
  azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

1.4.0
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Fix for windows (?)
  src/language-service/src/schemas/schemaService.ts
Due: azure-pipelines-language-service.yml

Fix for Windows (2)
  src/language-service/src/schemas/schemaService.ts
Due: azure-pipelines-language-service.yml

1.4.1
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

oops
  package.json
Due: azure-pipelines-vscode.yml

Downgrade TS
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

fix for #173
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml
