Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

Add support for reloading ALL
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add support for reloading ALL (#2530)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add author support to Blueprints
  src/language-service/src/schemas/integrations/core/blueprint.ts
Due: azure-pipelines-language-service.yml

Fix enable_days -> enable_day
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Add author support to Blueprints (#2533)
  src/language-service/src/schemas/integrations/core/blueprint.ts
Due: azure-pipelines-language-service.yml

Remove old style group snippets
  package.json
  src/snippets/homeassistant_group.json
Due: azure-pipelines-vscode.yml

Remove old style sensor snippets
  package.json
  src/snippets/homeassistant_sensor.json
Due: azure-pipelines-vscode.yml

Fix enable_days -> enable_day (#2534)
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Remove old style group snippets (#2535)
  package.json
  src/snippets/homeassistant_group.json
Due: azure-pipelines-vscode.yml

Remove old style sensor snippets (#2536)
  package.json
  src/snippets/homeassistant_sensor.json
Due: azure-pipelines-vscode.yml

Bump version to v1.34.0
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

Bump version to v1.34.0
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Add reloading custom Jinja2 templates
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add reloading custom Jinja2 templates (#2594)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add missing all property of light groups
  src/language-service/src/schemas/integrations/core/group.ts
Due: azure-pipelines-language-service.yml

Add missing all property of light groups (#2595)
  src/language-service/src/schemas/integrations/core/group.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.35.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix author in Blueprints
  src/language-service/src/schemas/integrations/core/blueprint.ts
Due: azure-pipelines-language-service.yml

Fix author in Blueprints (#2600)
  src/language-service/src/schemas/integrations/core/blueprint.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.35.1
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update types.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add energy_storage and volume_storage sensor device classes (#2611)
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

fix(schema): update @types/node to fix schema generation
  package-lock.json
  package.json
  src/language-service/src/schemas/generateSchemas.ts
  src/server/fileAccessor.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update @types/node to fix schema generation (#2663)
  package-lock.json
  package.json
  src/language-service/src/schemas/generateSchemas.ts
  src/server/fileAccessor.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Bump version to v1.36.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix missing unique_id in Weather template
  src/language-service/src/schemas/integrations/core/tod.ts
Due: azure-pipelines-language-service.yml

Add supports for filter parameter for blueprint
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Add condition selector
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Run prettier
  src/extension.ts
  src/language-service/src/completionHelpers/domains.ts
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/completionHelpers/services.ts
  src/language-service/src/definition/includes.ts
  src/language-service/src/definition/scripts.ts
  src/language-service/src/fileAccessor.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/home-assistant/socket.ts
  src/language-service/src/schemas/generateSchemas.ts
  src/language-service/src/schemas/schemaService.ts
  src/server/fileAccessor.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Bump prettier in root
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Fix missing unique_id in tod sensor (#2694)
  src/language-service/src/schemas/integrations/core/tod.ts
Due: azure-pipelines-language-service.yml

Add supports for filter parameter for blueprint selectors (#2729)
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Add condition selector (#2738)
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Update webhook trigger with allowed methods and local only
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Update webhook trigger with allowed methods and local only (#2741)
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Add persistent notification trigger support
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Add persistent notification trigger support (#2742)
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Add prefix support to the Text selector
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Add prefix support to the Text selector (#2743)
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.37.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml
