Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'rm package-lock.json # this is weird is should not be needd
  
          npm install
  
          npm run compile
  
          mkdir package
  
          cd package
  
  ...

azure-pipelines-vscode.yml:
  stages:
  - stage: build
    displayName: Build
    condition: null
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Install Node.js
      - script: 'npm install
  
          npm run compile
  
  ...

Skip Windows, not my cup of tea and unable to explore myself as well
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Upgrade yaml-language-server to 1.18.0 and yaml to 2.8.0 (#3557)
  .github/workflows/github-actions-vscode-extension.yml
  .vscode-test.js
  .vscode/launch.json
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
  src/server/server.ts
  src/test/runTest.ts
  src/test/suite/entity-service-completion.test.ts
  src/test/suite/error-handling.test.ts
  src/test/suite/extension.test.ts
  src/test/suite/index.ts
  src/test/suite/language-features.test.ts
  src/test/suite/performance.test.ts
  src/test/suite/schema-validation.test.ts
  src/test/suite/script-references.test.ts
  src/test/suite/yaml-position-tracking.test.ts
  test-workspace/.vscode/settings.json
  test-workspace/configuration.yaml
  test-workspace/empty.yaml
  test-workspace/test-completion.yaml
  test-workspace/test-error-handling.yaml
  test-workspace/test-goto-definition.yaml
  test-workspace/test-invalid-automation.yaml
  test-workspace/test-performance.yaml
  test-workspace/test-position-tracking.yaml
  test-workspace/test-schema-validation.yaml
  test-workspace/test-script-validation.yaml
  test-workspace/test-sensor-validation.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Added sort to SelectSelector in selectors.ts (#3556)
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Migrate to @vscode/extension-telemetry
  package-lock.json
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Migrate to @vscode/extension-telemetry (#3558)
  package-lock.json
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Update vscode-json-languageservice & vscode-languageserver
  package-lock.json
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Update vscode-json-languageservice & vscode-languageserver (#3559)
  package-lock.json
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add unknown entity_id checks/warnings detected
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/test/suite/entity-validation-mock.test.ts
  src/test/suite/entity-validation.test.ts
  test-workspace/test-entity-validation.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add unknown entity_id checks/warnings detected (#3560)
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/test/suite/entity-validation-mock.test.ts
  src/test/suite/entity-validation.test.ts
  test-workspace/test-entity-validation.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix incorrect definition of mqtt.<platform>.connections (#3555)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Remove position tracking performance test, it is flaky as hell
  src/test/suite/performance.test.ts
Due: azure-pipelines-vscode.yml

Add webostv.turn_on trigger to triggers schema (#2292)
  src/language-service/src/schemas/integrations/core/webostv.ts
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Remove position tracking performance test, it is flaky as hell (#3561)
  src/test/suite/performance.test.ts
Due: azure-pipelines-vscode.yml

Add support for MQTT Switch entities
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add icon property to AttributeRow
  src/language-service/src/schemas/lovelace/rows.ts
Due: azure-pipelines-language-service.yml

Add icon property to AttributeRow (#3563)
  src/language-service/src/schemas/lovelace/rows.ts
Due: azure-pipelines-language-service.yml

Add support for MQTT Switch entities (#3562)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add unknown area_id checks/warnings detected
  src/language-service/src/haLanguageService.ts
  src/test/suite/area-validation-mock.test.ts
  test-workspace/test-area-validation.yaml
  test-workspace/test-performance.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add unknown area_id checks/warnings detected (#3565)
  src/language-service/src/haLanguageService.ts
  src/test/suite/area-validation-mock.test.ts
  test-workspace/test-area-validation.yaml
  test-workspace/test-performance.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add support for MQTT Humidifier entities
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Fix Jinja2 operator beginning pattern to include whitespace
  syntaxes/home-assistant/jinja-braces-block.tmLanguage
Due: azure-pipelines-vscode.yml

Add support for MQTT Humidifier entities (#3566)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Fix Jinja2 operator beginning pattern to include whitespace (#3567)
  syntaxes/home-assistant/jinja-braces-block.tmLanguage
Due: azure-pipelines-vscode.yml

Add support for MQTT Button entities
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add support for MQTT Button entities (#3568)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add support for MQTT siren entities
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add support for MQTT siren entities (#3569)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add support for MQTT scene entities
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add support for MQTT scene entities (#3570)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Less trigger happy workspace association
  package.json
  src/extension.ts
  src/language-service/src/configuration.ts
  src/test/suite/workspace-detection.test.ts
  test-ha-detection/.storage/core.config_entries
  test-ha-detection/configuration.yaml
  test-non-ha-detection/configuration.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Less trigger happy workspace association (#3572)
  package.json
  src/extension.ts
  src/language-service/src/configuration.ts
  src/test/suite/workspace-detection.test.ts
  test-ha-detection/.storage/core.config_entries
  test-ha-detection/configuration.yaml
  test-non-ha-detection/configuration.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add UUID generator auto completion for id & unique_id
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/completionHelpers/uuids.ts
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add UUID generator auto completion for id & unique_id (#3573)
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/completionHelpers/uuids.ts
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add autocompletion for secrets from secrets.yaml
  README.md
  src/language-service/src/completionHelpers/secrets.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add autocompletion for secrets from secrets.yaml (#3574)
  README.md
  src/language-service/src/completionHelpers/secrets.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add detection/warnings for unknown secrets
  src/language-service/src/completionHelpers/secrets.ts
  src/language-service/src/haLanguageService.ts
  src/test/suite/secrets-validation-mock.test.ts
  test-workspace/secrets.yaml
  test-workspace/test-secrets-validation.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add detection/warnings for unknown secrets (#3575)
  src/language-service/src/completionHelpers/secrets.ts
  src/language-service/src/haLanguageService.ts
  src/test/suite/secrets-validation-mock.test.ts
  test-workspace/secrets.yaml
  test-workspace/test-secrets-validation.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add goto definition for secrets
  src/language-service/src/definition/secrets.ts
  src/server/server.ts
  src/test/suite/secrets-definition.test.ts
  test-workspace/test-missing-secrets.yaml
  test-workspace/test-secrets-goto.yaml
  test-workspace/test-secrets-invalid.yaml
  test-workspace/test-secrets-nested.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add goto definition for secrets (#3576)
  src/language-service/src/definition/secrets.ts
  src/server/server.ts
  src/test/suite/secrets-definition.test.ts
  test-workspace/test-missing-secrets.yaml
  test-workspace/test-secrets-goto.yaml
  test-workspace/test-secrets-invalid.yaml
  test-workspace/test-secrets-nested.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add entity information on hover of entity_id
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/completionHelpers/iconRenderer.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/schemas/integrations/core/mqtt.ts
  src/test/suite/area-validation-mock.test.ts
  src/test/suite/entity-validation-mock.test.ts
  src/test/suite/secrets-validation-mock.test.ts
  test-workspace/test-device-area-hover.yaml
  test-workspace/test-entity-hover.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Path conditions:
  azure-pipelines-language-service.yml: any of: src/language-service, azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml: any of: *, but not: src/language-service
