Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'rm package-lock.json # this is weird is should not be needd
  
          npm install
  
          npm run compile
  
          mkdir package
  
          cd package
  
  ...

azure-pipelines-vscode.yml:
  stages:
  - stage: build
    displayName: Build
    condition: null
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Install Node.js
      - script: 'npm install
  
          npm run compile
  
  ...

update dependencies and refactor Home Assistant connection
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/home-assistant/socket.ts
Due: azure-pipelines-language-service.yml

Fix insertText for completions in multiple contribution classes
  src/language-service/src/completionHelpers/areas.ts
  src/language-service/src/completionHelpers/domains.ts
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/completionHelpers/floors.ts
  src/language-service/src/completionHelpers/labels.ts
  src/language-service/src/completionHelpers/services.ts
Due: azure-pipelines-language-service.yml

Bump vscode-json-languageservice from 3.9.1 to 5.5.0
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Downgrade eslint to version 8.45.0 for compatibility
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

update @typescript-eslint packages to version 5.62.0
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

Update eslint and typescript-eslint dependencies to latest versions
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Update mqtt.ts
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Small dependency changes to get extension into a working state
  package-lock.json
  package.json
  src/extension.ts
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/haLanguageService.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix linting error
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml

Small dependency changes to get extension into a working state (#3538)
  package-lock.json
  package.json
  src/extension.ts
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/haLanguageService.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update for new eslint
  eslint.config.js
  package-lock.json
  package.json
  src/language-service/.eslintrc.js
  src/language-service/package.json
  src/language-service/src/configuration.ts
  src/language-service/src/definition/includes.ts
  src/language-service/src/haConfig/dto.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/schemas/integrations/core/binary_sensor.ts
  src/language-service/src/schemas/integrations/core/camera.ts
  src/language-service/src/schemas/integrations/core/climate.ts
  src/language-service/src/schemas/integrations/core/device_tracker.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Prettier
  src/language-service/src/configuration.ts
  src/language-service/src/definition/includes.ts
  src/language-service/src/haConfig/dto.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/schemas/integrations/core/binary_sensor.ts
  src/language-service/src/schemas/integrations/core/camera.ts
  src/language-service/src/schemas/integrations/core/climate.ts
  src/language-service/src/schemas/integrations/core/device_tracker.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Clean up eslint from language server
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

Clean up prettier from language server
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

Add & cleanup using stylistic
  .vscode/tasks.json
  eslint.config.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/src/completionHelpers/areas.ts
  src/language-service/src/completionHelpers/domains.ts
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/completionHelpers/floors.ts
  src/language-service/src/completionHelpers/labels.ts
  src/language-service/src/completionHelpers/services.ts
  src/language-service/src/configuration.ts
  src/language-service/src/definition/scripts.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/integrations/conditions.ts
  src/language-service/src/schemas/integrations/core/conversation.ts
  src/language-service/src/schemas/integrations/core/homeassistant.ts
  src/language-service/src/schemas/integrations/core/mqtt.ts
  src/language-service/src/schemas/integrations/core/scene.ts
  src/language-service/src/schemas/integrations/selectors.ts
  src/language-service/src/schemas/lovelace/elements.ts
  src/language-service/src/schemas/schemaService.ts
  src/language-service/src/schemas/types.ts
  src/server/fileAccessor.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add & cleanup using stylistic (#3545)
  .vscode/tasks.json
  eslint.config.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/src/completionHelpers/areas.ts
  src/language-service/src/completionHelpers/domains.ts
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/completionHelpers/floors.ts
  src/language-service/src/completionHelpers/labels.ts
  src/language-service/src/completionHelpers/services.ts
  src/language-service/src/configuration.ts
  src/language-service/src/definition/scripts.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/integrations/conditions.ts
  src/language-service/src/schemas/integrations/core/conversation.ts
  src/language-service/src/schemas/integrations/core/homeassistant.ts
  src/language-service/src/schemas/integrations/core/mqtt.ts
  src/language-service/src/schemas/integrations/core/scene.ts
  src/language-service/src/schemas/integrations/selectors.ts
  src/language-service/src/schemas/lovelace/elements.ts
  src/language-service/src/schemas/schemaService.ts
  src/language-service/src/schemas/types.ts
  src/server/fileAccessor.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Optimize schema generation in compile script
  package.json
  src/language-service/tsconfig.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Optimize schema generation in compile script (#3546)
  package.json
  src/language-service/tsconfig.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Refactor parameter names to improve clarity and enable unused parameter checks
  src/extension.ts
  src/language-service/src/completionHelpers/areas.ts
  src/language-service/src/completionHelpers/domains.ts
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/completionHelpers/floors.ts
  src/language-service/src/completionHelpers/labels.ts
  src/language-service/src/completionHelpers/services.ts
  src/language-service/tsconfig.json
  src/server/server.ts
  tsconfig.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Refactor parameter names to improve clarity and enable unused parameter checks (#3547)
  src/extension.ts
  src/language-service/src/completionHelpers/areas.ts
  src/language-service/src/completionHelpers/domains.ts
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/completionHelpers/floors.ts
  src/language-service/src/completionHelpers/labels.ts
  src/language-service/src/completionHelpers/services.ts
  src/language-service/tsconfig.json
  src/server/server.ts
  tsconfig.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Change action_topic type to string
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Change action_topic type to string (#3548)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Migrate/implement the use of VSCode SecretStorage for tokens and URLs
  package-lock.json
  package.json
  src/auth/commands.ts
  src/auth/debug.ts
  src/auth/manager.ts
  src/auth/middleware.ts
  src/auth/repair.ts
  src/extension.ts
  src/language-service/src/configuration.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/home-assistant/socket.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Migrate/implement the use of VSCode SecretStorage for tokens and URLs (#3551)
  package-lock.json
  package.json
  src/auth/commands.ts
  src/auth/debug.ts
  src/auth/manager.ts
  src/auth/middleware.ts
  src/auth/repair.ts
  src/extension.ts
  src/language-service/src/configuration.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/home-assistant/socket.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Set default instance URL when setting up connection
  src/auth/commands.ts
Due: azure-pipelines-vscode.yml

Set default instance URL when setting up connection (#3552)
  src/auth/commands.ts
Due: azure-pipelines-vscode.yml

Add Home Assistant status bar item
  package.json
  src/extension.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/server/server.ts
  src/status/statusBar.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add Home Assistant status bar item (#3553)
  package.json
  src/extension.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/server/server.ts
  src/status/statusBar.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update mqtt.ts - Yaml error on MQTT fan add all direction field
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Update src/language-service/src/schemas/integrations/core/mqtt.ts
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add missing MQTT items for fans (#3312)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add support for alternative template schema (#3235)
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Refactor all reload command into a submenu
  package.json
  src/commands/reloadCommands.ts
  src/extension.ts
Due: azure-pipelines-vscode.yml

Refactor all reload command into a submenu (#3554)
  package.json
  src/commands/reloadCommands.ts
  src/extension.ts
Due: azure-pipelines-vscode.yml

Fix incorrect definition of mqtt.<platform>.connections
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Added sort to SelectSelector in selectors.ts
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Upgrade yaml-language-server to 1.18.0 and yaml to 2.8.0
  .github/workflows/github-actions-vscode-extension.yml
  .vscode-test.js
  .vscode/launch.json
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
  src/server/server.ts
  src/test/runTest.ts
  src/test/suite/entity-service-completion.test.ts
  src/test/suite/error-handling.test.ts
  src/test/suite/extension.test.ts
  src/test/suite/index.ts
  src/test/suite/language-features.test.ts
  src/test/suite/performance.test.ts
  src/test/suite/schema-validation.test.ts
  src/test/suite/script-references.test.ts
  src/test/suite/yaml-position-tracking.test.ts
  test-goto-definition.yaml
  test-position-tracking.yaml
  test-position.ts
  test-workspace/.vscode/settings.json
  test-workspace/configuration.yaml
  test-workspace/empty.yaml
  test-workspace/test-completion.yaml
  test-workspace/test-error-handling.yaml
  test-workspace/test-goto-definition.yaml
  test-workspace/test-invalid-automation.yaml
  test-workspace/test-performance.yaml
  test-workspace/test-position-tracking.yaml
  test-workspace/test-schema-validation.yaml
  test-workspace/test-script-validation.yaml
  test-workspace/test-sensor-validation.yaml
  test-yaml.js
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Clean up inital left over tests attempts
  test-goto-definition.yaml
  test-position-tracking.yaml
  test-position.ts
  test-yaml.js
Due: azure-pipelines-vscode.yml

Attempt to fix CI for windows
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Path conditions:
  azure-pipelines-language-service.yml: any of: src/language-service, azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml: any of: *, but not: src/language-service
