Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

Add support for input datetime (#1835)
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/input_datetime.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Add support for input select
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/input_select.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Add support for input select (#1836)
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/input_select.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Add support for input text
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/input_select.ts
  src/language-service/src/schemas/integrations/core/input_text.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Add support for input text (#1837)
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/input_select.ts
  src/language-service/src/schemas/integrations/core/input_text.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Bump version to v1.23.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix unused var cleanup
  src/language-service/src/schemas/lovelace/rows.ts
Due: azure-pipelines-language-service.yml

Fix unused import cleanup
  src/language-service/src/schemas/lovelace/rows.ts
Due: azure-pipelines-language-service.yml

Add Jinja2 inside yaml files support #78
  package.json
  syntaxes/external/YAML.tmLanguage
  syntaxes/external/jinja.tmLanguage.json
  syntaxes/home-assistant/generated/jinja-braces-block.tmLanguage
  syntaxes/home-assistant/generated/jinja-braces.tmLanguage
  syntaxes/home-assistant/generated/jinja-conditionals.tmLanguage
  syntaxes/home-assistant/generated/jinja-double-quote-escape.tmLanguage
  syntaxes/home-assistant/generated/jinja-extras.tmLanguage
  syntaxes/home-assistant/generated/jinja-keywords.tmLanguage
  syntaxes/home-assistant/generated/jinja-single-quote-escape.tmLanguage
  syntaxes/jinja-language-configuration.json
  syntaxes/yaml-language-configuration.json
  yaml-language/yaml.tmLanguage.json
Due: azure-pipelines-vscode.yml

Add Jinja2 inside yaml files support #78 (#1845)
  package.json
  syntaxes/external/YAML.tmLanguage
  syntaxes/external/jinja.tmLanguage.json
  syntaxes/home-assistant/generated/jinja-braces-block.tmLanguage
  syntaxes/home-assistant/generated/jinja-braces.tmLanguage
  syntaxes/home-assistant/generated/jinja-conditionals.tmLanguage
  syntaxes/home-assistant/generated/jinja-double-quote-escape.tmLanguage
  syntaxes/home-assistant/generated/jinja-extras.tmLanguage
  syntaxes/home-assistant/generated/jinja-keywords.tmLanguage
  syntaxes/home-assistant/generated/jinja-single-quote-escape.tmLanguage
  syntaxes/jinja-language-configuration.json
  syntaxes/yaml-language-configuration.json
  yaml-language/yaml.tmLanguage.json
Due: azure-pipelines-vscode.yml

Move syntax out of generated structure
  package.json
  syntaxes/home-assistant/jinja-braces-block.tmLanguage
  syntaxes/home-assistant/jinja-braces.tmLanguage
  syntaxes/home-assistant/jinja-conditionals.tmLanguage
  syntaxes/home-assistant/jinja-double-quote-escape.tmLanguage
  syntaxes/home-assistant/jinja-extras.tmLanguage
  syntaxes/home-assistant/jinja-keywords.tmLanguage
  syntaxes/home-assistant/jinja-single-quote-escape.tmLanguage
Due: azure-pipelines-vscode.yml

Move syntax out of generated structure (#1850)
  package.json
  syntaxes/home-assistant/jinja-braces-block.tmLanguage
  syntaxes/home-assistant/jinja-braces.tmLanguage
  syntaxes/home-assistant/jinja-conditionals.tmLanguage
  syntaxes/home-assistant/jinja-double-quote-escape.tmLanguage
  syntaxes/home-assistant/jinja-extras.tmLanguage
  syntaxes/home-assistant/jinja-keywords.tmLanguage
  syntaxes/home-assistant/jinja-single-quote-escape.tmLanguage
Due: azure-pipelines-vscode.yml

Add JavaScript syntax highlighting
  package.json
  syntaxes/home-assistant/javascript-brackets-block.tmLanguage
Due: azure-pipelines-vscode.yml

Support Home Assistant specific Jinja keywords
  package.json
  syntaxes/home-assistant/jinja-double-quote-escape.tmLanguage
  syntaxes/home-assistant/jinja-extras.tmLanguage
  syntaxes/home-assistant/jinja-keywords.tmLanguage
  syntaxes/home-assistant/jinja-single-quote-escape.tmLanguage
Due: azure-pipelines-vscode.yml

Change keyword to constant
  syntaxes/home-assistant/jinja-keywords.tmLanguage
Due: azure-pipelines-vscode.yml

Jinja completion provider
  src/language-service/src/completionHelpers/jinja.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/schemas/jinjaFilters.ts
  src/language-service/src/schemas/jinjaGlobals.ts
Due: azure-pipelines-language-service.yml

Support Home Assistant specific Jinja keywords (#1852)
  package.json
  syntaxes/home-assistant/jinja-double-quote-escape.tmLanguage
  syntaxes/home-assistant/jinja-extras.tmLanguage
  syntaxes/home-assistant/jinja-keywords.tmLanguage
  syntaxes/home-assistant/jinja-single-quote-escape.tmLanguage
Due: azure-pipelines-vscode.yml

Change Jinja keywords regex layout to make it sortable/maintainable
  syntaxes/home-assistant/jinja-keywords.tmLanguage
Due: azure-pipelines-vscode.yml

Add period option for statistics graph
  src/language-service/src/schemas/lovelace/cards/statistics_graph.ts
Due: azure-pipelines-language-service.yml

Change Jinja keywords regex layout to make it sortable/maintainable (#1854)
  syntaxes/home-assistant/jinja-keywords.tmLanguage
Due: azure-pipelines-vscode.yml

Add builtin Jinja2 keywords
  syntaxes/home-assistant/jinja-keywords.tmLanguage
Due: azure-pipelines-vscode.yml

Add period option for statistics graph (#1855)
  src/language-service/src/schemas/lovelace/cards/statistics_graph.ts
Due: azure-pipelines-language-service.yml

Cleanup Hue integration YAML syntax
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/hue.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
Due: azure-pipelines-language-service.yml

Fix MQTT fan requires deprecated option
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Cleanup Hue integration YAML syntax (#1857)
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/hue.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
Due: azure-pipelines-language-service.yml

Fix MQTT fan requires deprecated option (#1858)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add built-in Jinja2 keywords (#1856)
  syntaxes/home-assistant/jinja-keywords.tmLanguage
Due: azure-pipelines-vscode.yml

Add support for modern template entities syntax
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/template.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Prettier
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Add support for modern template entities syntax (#1859)
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/template.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Bump version to v1.24.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add missing device_classes to sensors
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add new device_classes to (binary) sensors (#1861)
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Entity Tree View
  assets/dep.svg
  assets/logo-small-white.svg
  assets/refresh.svg
  package-lock.json
  package.json
  src/extension.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/server/server.ts
  src/sidebar/commands.ts
  src/sidebar/entities.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Remove svg icons, replace with native
  assets/dep.svg
  assets/refresh.svg
  package.json
  src/extension.ts
  src/sidebar/entities.ts
Due: azure-pipelines-vscode.yml

Show Entity Logbook and History
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Create constants.ts
  src/constants.ts
  src/extension.ts
  src/sidebar/commands.ts
Due: azure-pipelines-vscode.yml

Add Help and Feedback collapsed panel
  package.json
  src/constants.ts
  src/extension.ts
  src/sidebar/helpAndFeedback.ts
Due: azure-pipelines-vscode.yml

Add number of entities to the title, streamline view IDs
  package.json
  src/sidebar/commands.ts
  src/sidebar/entities.ts
  src/sidebar/helpAndFeedback.ts
Due: azure-pipelines-vscode.yml

Allow copying multiple entity_ids
  src/extension.ts
  src/sidebar/entities.ts
Due: azure-pipelines-vscode.yml
