Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'rm package-lock.json # this is weird is should not be needd
  
          npm install
  
          npm run compile
  
          mkdir package
  
          cd package
  
  ...

azure-pipelines-vscode.yml:
  stages:
  - stage: build
    displayName: Build
    condition: null
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Install Node.js
      - script: 'npm install
  
          npm run compile
  
  ...

Add support for the if-then action
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Then is actually required
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add support for the if-then action (#2036)
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add support for the parallel action
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add support for match any in a state condition
  src/language-service/src/schemas/integrations/conditions.ts
Due: azure-pipelines-language-service.yml

Prettier
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add support for match any in a state condition (#2038)
  src/language-service/src/schemas/integrations/conditions.ts
Due: azure-pipelines-language-service.yml

Add support for the parallel action (#2037)
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add support for enabling/disabling action/conditions/triggers
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/integrations/conditions.ts
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Update home-assistant-js-websocket to 7.0.3
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update home-assistant-js-websocket to 7.0.3 (#2040)
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add support for enabling/disabling action/conditions/triggers (#2039)
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/integrations/conditions.ts
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Add MQTT availability_template support
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Set HA version on WebSocket
  src/language-service/src/home-assistant/socket.ts
Due: azure-pipelines-language-service.yml

Add MQTT availability_template support (#2041)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Remove useless export
  src/language-service/src/home-assistant/socket.ts
Due: azure-pipelines-language-service.yml

Set HA version on WebSocket (#2042)
  src/language-service/src/home-assistant/socket.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.28.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add support for the stop action
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Fix description
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add support for the stop action (#2045)
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Add KNX notify `type` option
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

remove whitespace
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

Add duaration sensor device class
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add support for the new Calendar trigger
  src/language-service/src/schemas/integrations/triggers.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Tweaks
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Add duration sensor device class (#2055)
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Prettier
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add KNX notify `type` option (#2046)
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

Add support for the new Calendar trigger (#2056)
  src/language-service/src/schemas/integrations/triggers.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.29.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix style of webostv code
  src/language-service/src/schemas/integrations/core/webostv.ts
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Update MQTT Fan platform schema
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Update home-assistant-js-websocket to 7.0.4
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update nodejs to 16
  .github/workflows/github-actions-language-service.yml
  .github/workflows/github-actions-vscode-extension.yml
  .nvmrc
Due: azure-pipelines-vscode.yml

Update home-assistant-js-websocket to 7.0.4 (#2096)
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update nodejs to 16 (#2097)
  .github/workflows/github-actions-language-service.yml
  .github/workflows/github-actions-vscode-extension.yml
  .nvmrc
Due: azure-pipelines-vscode.yml

Bump version to v1.29.1
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update home-assistant-js-websocket to 7.0.5
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update home-assistant-js-websocket to 7.0.5 (#2101)
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Path conditions:
  azure-pipelines-language-service.yml: any of: src/language-service, azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml: any of: *, but not: src/language-service
