Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

trigger for action yaml
  .github/workflows/github-actions-language-service.yml
Due: azure-pipelines-vscode.yml

version bump
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

Adding action for VS Code Extension
  .github/workflows/github-actions-language-service.yml
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Name of action
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

1.0.1 vs master?
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

pushlish != compile
  package.json
Due: azure-pipelines-vscode.yml

inline secret?
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

typo
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Is a script fasteR?
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Is node really needed?
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Back to node
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Testing the new GitHub Actions release
  .github/workflows/github-actions-vscode-extension.yml
  .vscodeignore
  package.json
Due: azure-pipelines-vscode.yml

Renaming the step
  .github/workflows/github-actions-vscode-extension.yml
  package.json
Due: azure-pipelines-vscode.yml

straight to master
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

ctrl+z
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Missing quote
  package.json
Due: azure-pipelines-vscode.yml

Settings for formatter #93
  package-lock.json
  src/language-service/package.json
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Updated schema's for packages
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/schemas/generateSchemas.ts
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/json/homeassistant-packages.json
  src/language-service/src/schemas/json/homeassistant.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fixing #89
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/json/homeassistant-packages.json
  src/language-service/src/schemas/json/homeassistant.json
  src/server/fileAccessor.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Updated package lock
  package-lock.json
Due: azure-pipelines-vscode.yml

1.2.0
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Updated @types/node
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

1.2.1
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

fix for language service local reference
  package-lock.json
Due: azure-pipelines-vscode.yml

1.2.3
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Scene state can also be a string #74
  src/language-service/package.json
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/json/homeassistant-packages.json
  src/language-service/src/schemas/json/homeassistant-scene.json
  src/language-service/src/schemas/json/homeassistant.json
Due: azure-pipelines-language-service.yml

Update Lang Service
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

1.2.4
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Update ui-lovelace.ts
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Add "description" attribute to Automation.
  src/language-service/src/schemas/automation.ts
Due: azure-pipelines-language-service.yml

Added JSON files for #116
  src/language-service/src/schemas/json/lovelace-cards.json
  src/language-service/src/schemas/json/lovelace-views.json
  src/language-service/src/schemas/json/ui-lovelace.json
Due: azure-pipelines-language-service.yml

Update package lock
  src/language-service/package-lock.json
Due: azure-pipelines-language-service.yml

Added JSON files for #118
  src/language-service/src/schemas/json/automations.json
  src/language-service/src/schemas/json/homeassistant-packages.json
  src/language-service/src/schemas/json/homeassistant.json
Due: azure-pipelines-language-service.yml

Updated lang service to 1.2.0
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

Upgrade YAML dependency for #117
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml

Fixing an import
  src/language-service/package-lock.json
  src/language-service/src/haConfig/haYamlFile.ts
Due: azure-pipelines-language-service.yml

Version bump
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

1.3.0
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Update issue templates
  .github/ISSUE_TEMPLATE/yaml-error-or-warning.md
Due: azure-pipelines-vscode.yml

issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/yaml-error-or-warning.md
Due: azure-pipelines-vscode.yml
