Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'rm package-lock.json # this is weird is should not be needd
  
          npm install
  
          npm run compile
  
          mkdir package
  
          cd package
  
  ...

azure-pipelines-vscode.yml:
  stages:
  - stage: build
    displayName: Build
    condition: null
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Install Node.js
      - script: 'npm install
  
          npm run compile
  
  ...

Only show action buttons in the tab bar when an HA-related file is open (#3919)
  package.json
Due: azure-pipelines-vscode.yml

Adds symlink loop protection to prevent infinite recursion
  src/server/fileAccessor.ts
  src/test/suite/symlink-protection.test.ts
Due: azure-pipelines-vscode.yml

Adds symlink loop protection to prevent infinite recursion (#3920)
  src/server/fileAccessor.ts
  src/test/suite/symlink-protection.test.ts
Due: azure-pipelines-vscode.yml

Fix file discovery in Docker/code-server environments
  src/server/fileAccessor.ts
Due: azure-pipelines-vscode.yml

Fix file discovery in Docker/code-server environments (#3922)
  src/server/fileAccessor.ts
Due: azure-pipelines-vscode.yml

Downgrades VSCode engine requirement from ^1.100.0 to ^1.99.0
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Downgrades VSCode engine requirement from ^1.100.0 to ^1.99.0 (#3923)
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Fix memory leaks and stack overflow in YAML schema handling
  src/extension.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/home-assistant/socket.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Ran linters
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml

Fix memory leaks and stack overflow in YAML schema handling (#3924)
  src/extension.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/home-assistant/socket.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add support for cover templates
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Add support for cover templates (#3925)
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Add alarm_control_panel, cover, event, fan, light, lock, update, vacuum, and weather to template
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Add alarm_control_panel, cover, event, fan, light, lock, update, vacuum, and weather to template (#3926)
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Add support for knx.telegram automation trigger
  src/language-service/src/schemas/integrations/core/knx.ts
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Add support for knx.telegram automation trigger (#3927)
  src/language-service/src/schemas/integrations/core/knx.ts
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Bump version to v2.2.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update Node.js version to 20 in GitHub Actions workflow
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Update Node.js version to 20 in GitHub Actions workflow (#3929)
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

feat: implement workspace-aware credential priority system
  src/auth/commands.ts
  src/auth/debug.ts
  src/auth/manager.ts
  src/auth/middleware.ts
  src/auth/repair.ts
Due: azure-pipelines-vscode.yml

Fix packages to not be root level
  src/language-service/src/schemas/integrations/core/homeassistant.ts
Due: azure-pipelines-language-service.yml

add support for `weekday` in `automation.triggers`
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Adding support for event group address wildcards
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

Add IncludeList to modbus entity properties
  src/language-service/src/schemas/integrations/core/modbus.ts
Due: azure-pipelines-language-service.yml

fix: add missing name and default_entity_id to Item interface, make SwitchItem extend BaseItem
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Update device classes for sensors
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

feat: add comment directives to suppress validation warnings
  README.md
  src/language-service/src/haLanguageService.ts
  src/language-service/src/utils/commentDirectives.ts
  src/test/suite/ignore-directives.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update version to 2.3.0 and test workspace files
  package-lock.json
  package.json
  test-ha-detection/configuration.yaml
  test-workspace/test-label-validation.yaml
  test-workspace/test-secrets-invalid.yaml
Due: azure-pipelines-vscode.yml

Fix "fetch failed" on Test Connection (#3950)
  src/auth/commands.ts
Due: azure-pipelines-vscode.yml

Add support for template triggers & variables
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Fix multiline ID validation scope
  src/language-service/src/haLanguageService.ts
  src/test/suite/device-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Distinguish disabled entities in validation
  src/language-service/src/haLanguageService.ts
  src/test/suite/entity-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix include directory schema diagnostics
  src/language-service/src/haLanguageService.ts
  src/test/suite/include-diagnostics-issue-3959.test.ts
  test-workspace/configuration.yaml
  test-workspace/packages/test_package.yaml
  test-workspace/scripts/test_script.yaml
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Path conditions:
  azure-pipelines-language-service.yml: any of: src/language-service, azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml: any of: *, but not: src/language-service
