Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

Add missing state_template property in MQTT light
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Fix MQTT tilt_command_topic type (#957)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Add missing state_template property in MQTT light (#958)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.14.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Update numeric state trigger schema
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Update triggers.ts
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Allow use of number helpers on numeric state triggers (#967)
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Fix Lovelace card compatibility with Entity Filter
  src/language-service/src/schemas/lovelace/cards/calendar.ts
  src/language-service/src/schemas/lovelace/cards/entities.ts
  src/language-service/src/schemas/lovelace/cards/glance.ts
  src/language-service/src/schemas/lovelace/cards/logbook.ts
  src/language-service/src/schemas/lovelace/cards/map.ts
Due: azure-pipelines-language-service.yml

Fix Lovelace card compatibility with Entity Filter (#971)
  src/language-service/src/schemas/lovelace/cards/calendar.ts
  src/language-service/src/schemas/lovelace/cards/entities.ts
  src/language-service/src/schemas/lovelace/cards/glance.ts
  src/language-service/src/schemas/lovelace/cards/logbook.ts
  src/language-service/src/schemas/lovelace/cards/map.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.14.1
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

fix: Add homeassistant.temperature_unit
  src/language-service/src/schemas/integrations/core/homeassistant.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add homeassistant.temperature_unit (#983)
  src/language-service/src/schemas/integrations/core/homeassistant.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

(add) setting to disable automatic yaml file association
  package.json
  src/extension.ts
  src/language-service/src/configuration.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

making linting happier
  src/extension.ts
Due: azure-pipelines-vscode.yml

Target now supports templates
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Target now supports templates (#1031)
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Aliases are now supported in all actions and conditions
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/integrations/conditions.ts
Due: azure-pipelines-language-service.yml

Aliases are now supported in all actions and conditions (#1032)
  src/language-service/src/schemas/integrations/actions.ts
  src/language-service/src/schemas/integrations/conditions.ts
Due: azure-pipelines-language-service.yml

Collection of tweak to snippets
  src/snippets/homeassistant_automation.json
  src/snippets/homeassistant_sensor.json
Due: azure-pipelines-vscode.yml

Support value_template in MQTT trigger
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Support value_template in MQTT trigger (#1034)
  src/language-service/src/schemas/integrations/triggers.ts
Due: azure-pipelines-language-service.yml

Adjust numbering
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

Add support for weather templates
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/template.ts
  src/language-service/src/schemas/integrations/core/weather.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Collection of tweak to snippets (#1033)
  src/snippets/homeassistant_automation.json
  src/snippets/homeassistant_sensor.json
Due: azure-pipelines-vscode.yml

Remove unused vscode-test
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Add support for weather templates (#1035)
  src/language-service/src/schemas/configuration.ts
  src/language-service/src/schemas/integrations/core/index.d.ts
  src/language-service/src/schemas/integrations/core/template.ts
  src/language-service/src/schemas/integrations/core/weather.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Remove unused vscode-test (#1036)
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Update Huskey
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: azure-pipelines-vscode.yml

Upgrades
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Upgrades
  .eslintrc.js
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/haLanguageService.ts
  src/server/fileAccessor.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Try to fix lint issue
  src/language-service/src/haConfig/dto.ts
Due: azure-pipelines-language-service.yml

Silent warning
  src/language-service/src/haConfig/dto.ts
Due: azure-pipelines-language-service.yml

Fix link in issue template
  .github/ISSUE_TEMPLATE/1. yaml-error-or-warning.md
Due: azure-pipelines-vscode.yml

The 'square' parameter for the Grid card is of the Boolean type.
  src/language-service/src/schemas/lovelace/cards/grid.ts
Due: azure-pipelines-language-service.yml

Fixes 'square' parameter for the Grid card to be a boolean (#1068)
  src/language-service/src/schemas/lovelace/cards/grid.ts
Due: azure-pipelines-language-service.yml

Update .github/ISSUE_TEMPLATE/1. yaml-error-or-warning.md
  .github/ISSUE_TEMPLATE/1. yaml-error-or-warning.md
Due: azure-pipelines-vscode.yml

Fix link in issue template (#1057)
  .github/ISSUE_TEMPLATE/1. yaml-error-or-warning.md
Due: azure-pipelines-vscode.yml

Explicitly build a full schema in CI
  .github/workflows/github-actions-language-service.yml
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml
