Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

Fix missing devices classes for the switch platform
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Fix missing devices classes for the switch platform (#712)
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add full MQTT schema support
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/integrations/alarm_control_panel.ts
  src/language-service/src/schemas/integrations/binary_sensor.ts
  src/language-service/src/schemas/integrations/camera.ts
  src/language-service/src/schemas/integrations/climate.ts
  src/language-service/src/schemas/integrations/cover.ts
  src/language-service/src/schemas/integrations/device_tracker.ts
  src/language-service/src/schemas/integrations/fan.ts
  src/language-service/src/schemas/integrations/index.d.ts
  src/language-service/src/schemas/integrations/light.ts
  src/language-service/src/schemas/integrations/lock.ts
  src/language-service/src/schemas/integrations/mqtt.ts
  src/language-service/src/schemas/integrations/mqtt_eventstream.ts
  src/language-service/src/schemas/integrations/mqtt_room.ts
  src/language-service/src/schemas/integrations/mqtt_statestream.ts
  src/language-service/src/schemas/integrations/sensor.ts
  src/language-service/src/schemas/integrations/vacuum.ts
  src/language-service/src/schemas/mappings.json
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add full MQTT schema support (#713)
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/integrations/alarm_control_panel.ts
  src/language-service/src/schemas/integrations/binary_sensor.ts
  src/language-service/src/schemas/integrations/camera.ts
  src/language-service/src/schemas/integrations/climate.ts
  src/language-service/src/schemas/integrations/cover.ts
  src/language-service/src/schemas/integrations/device_tracker.ts
  src/language-service/src/schemas/integrations/fan.ts
  src/language-service/src/schemas/integrations/index.d.ts
  src/language-service/src/schemas/integrations/light.ts
  src/language-service/src/schemas/integrations/lock.ts
  src/language-service/src/schemas/integrations/mqtt.ts
  src/language-service/src/schemas/integrations/mqtt_eventstream.ts
  src/language-service/src/schemas/integrations/mqtt_room.ts
  src/language-service/src/schemas/integrations/mqtt_statestream.ts
  src/language-service/src/schemas/integrations/sensor.ts
  src/language-service/src/schemas/integrations/vacuum.ts
  src/language-service/src/schemas/mappings.json
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add cloud schema support
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/integrations/cloud.ts
  src/language-service/src/schemas/integrations/index.d.ts
Due: azure-pipelines-language-service.yml

Filters are all optional
  src/language-service/src/schemas/integrations/cloud.ts
Due: azure-pipelines-language-service.yml

Add cloud schema support (#714)
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/integrations/cloud.ts
  src/language-service/src/schemas/integrations/index.d.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.11.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

mqtt off_delay is optional
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

WIP
  src/language-service/src/schemas/conditions.ts
  src/language-service/src/schemas/entity_test.ts
  src/language-service/src/schemas/types.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix MQTT off_delay is optional (#717)
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Fix initial value type for input_number
  src/language-service/src/schemas/integrations/input_number.ts
Due: azure-pipelines-language-service.yml

Fix initial value type for input_number (#723)
  src/language-service/src/schemas/integrations/input_number.ts
Due: azure-pipelines-language-service.yml

Add light group schema
  src/language-service/src/schemas/integrations/group.ts
  src/language-service/src/schemas/integrations/light.ts
Due: azure-pipelines-language-service.yml

Add light group schema (#724)
  src/language-service/src/schemas/integrations/group.ts
  src/language-service/src/schemas/integrations/light.ts
Due: azure-pipelines-language-service.yml

first PoC
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/language-service/src/schemas/conditions.ts
  src/language-service/src/schemas/schemaService.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

qos and retain are optional
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Fix MQTT QOS and retain are optional (#730)
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Fix optional tilt_opened_value for MQTT cover
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Fix optional tilt_opened_value for MQTT cover (#739)
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Add new legacy_templates core option for 0.117
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Add new legacy_templates core option for 0.117 (#740)
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Add Tag trigger
  src/language-service/src/schemas/triggers.ts
Due: azure-pipelines-language-service.yml

Sort alphabetically
  src/language-service/src/schemas/triggers.ts
Due: azure-pipelines-language-service.yml

Add documentation
  src/language-service/src/schemas/triggers.ts
Due: azure-pipelines-language-service.yml

Remove useless blank line
  src/language-service/src/schemas/triggers.ts
Due: azure-pipelines-language-service.yml

Downgrade json languageservice to 3.9.1
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Exclude dependency upgrades from generated release notes
  .github/release-drafter.yml
Due: azure-pipelines-vscode.yml

Downgrade json languageservice to 3.9.1 (#792)
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Exclude dependency upgrades from generated release notes (#793)
  .github/release-drafter.yml
Due: azure-pipelines-vscode.yml

Fix MQTT device tracker devices list
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Fix MQTT device tracker devices list (#794)
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Cleaning up
  src/language-service/src/haLanguageService.ts
  src/language-service/src/schemas/types.ts
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

more cleaning
  src/language-service/src/haLanguageService.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fixed temp_step property
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Fix temp_step property in MQTT Climate (#808)
  src/language-service/src/schemas/integrations/mqtt.ts
Due: azure-pipelines-language-service.yml

Add support for media_dirs core configuration
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Add support for media_dirs core configuration (#813)
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

add condition-not snippet
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

Add condition-not snippet (#814)
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml
