Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'rm package-lock.json # this is weird is should not be needd
  
          npm install
  
          npm run compile
  
          mkdir package
  
          cd package
  
  ...

azure-pipelines-vscode.yml:
  stages:
  - stage: build
    displayName: Build
    condition: null
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Install Node.js
      - script: 'npm install
  
          npm run compile
  
  ...

Downgrade vscode requirement to 1.45.1
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix Input Boolean schema, as the integration accepts null
  src/language-service/src/schemas/homeassistant.ts
Due: azure-pipelines-language-service.yml

Adds HTTP integration schema
  src/language-service/src/schemas/homeassistant.ts
  src/language-service/src/schemas/integrations/http.ts
  src/language-service/src/schemas/integrations/index.d.ts
  src/language-service/src/schemas/mappings.json
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

add missing space
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

format file
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

Add schema for allowlist core config changes in HA 0.113.0
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Improve deprecation schema type
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Fix mode typo in automation schema
  src/language-service/src/schemas/integrations/automation.ts
Due: azure-pipelines-language-service.yml

Add release drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: azure-pipelines-vscode.yml

Let DependaBot upgrade GitHub Actions
  .github/dependabot.yml
Due: azure-pipelines-vscode.yml

Check if there is config for home-assistant extension
  src/extension.ts
Due: azure-pipelines-vscode.yml

Added attributes to secondary_info
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Fixed lint prettier changes
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Add release drafter (#391)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: azure-pipelines-vscode.yml

Let Dependabot upgrade GitHub Actions (#392)
  .github/dependabot.yml
Due: azure-pipelines-vscode.yml

Fix mode typo in automation schema (#384)
  src/language-service/src/schemas/integrations/automation.ts
Due: azure-pipelines-language-service.yml

Improve deprecation schema type (#383)
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Adds Dependabot for the langhuage-service subpackage
  .github/dependabot.yml
Due: azure-pipelines-vscode.yml

Add schema for allowlist core config changes in HA 0.113.0 (#382)
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Add Dependabot for the langhuage-service subpackage (#409)
  .github/dependabot.yml
Due: azure-pipelines-vscode.yml

Add attributes to secondary_info for Lovelace Entities Card (#408)
  src/language-service/src/schemas/ui-lovelace.ts
Due: azure-pipelines-language-service.yml

Fix extension overwriting workspace files.associations (#397)
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add trigger snippets (#334)
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

Fix automation & scene schema not parsed correctly with !include_dir_list
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/integrations/scene.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Fix automation & scene schema not parsed correctly with !include_dir_list (#410)
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/integrations/scene.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Fix api & service calls and template rendering
  package-lock.json
  package.json
  src/extension.ts
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/home-assistant/haConnection.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix API & service calls and template rendering (#411)
  package-lock.json
  package.json
  src/extension.ts
  src/language-service/package-lock.json
  src/language-service/package.json
  src/language-service/src/home-assistant/haConnection.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Bump version to v1.8.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Cleanup useless template literal
  src/extension.ts
Due: azure-pipelines-vscode.yml

Cleanup useless template literal (#425)
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add choose action schema
  src/language-service/src/schemas/actions.ts
Due: azure-pipelines-language-service.yml

Fixes device actions schema to allow for extra properties
  src/language-service/src/schemas/actions.ts
Due: azure-pipelines-language-service.yml

Add choose action schema (#426)
  src/language-service/src/schemas/actions.ts
Due: azure-pipelines-language-service.yml

Fix device actions schema to allow for extra properties (#427)
  src/language-service/src/schemas/actions.ts
Due: azure-pipelines-language-service.yml

Fix incorrect JSON schema type tag in property annotation
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Fix incorrect JSON schema type tag in property annotation (#428)
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Improve entity type validation
  src/language-service/src/schemas/actions.ts
  src/language-service/src/schemas/conditions.ts
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/integrations/group.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Improve entity type validation (#429)
  src/language-service/src/schemas/actions.ts
  src/language-service/src/schemas/conditions.ts
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/integrations/group.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Path conditions:
  azure-pipelines-language-service.yml: any of: src/language-service, azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml: any of: *, but not: src/language-service
