Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

Fixes action does not exists outside of action context (#3695)
  src/language-service/src/haLanguageService.ts
  src/test/suite/automation-trigger-issue-3623.test.ts
  src/test/suite/service-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Auto-render templates on hovering over them
  package.json
  src/language-service/src/configuration.ts
  src/language-service/src/haLanguageService.ts
  src/server/server.ts
  src/test/suite/area-validation-mock.test.ts
  src/test/suite/device-validation-mock.test.ts
  src/test/suite/entity-validation-mock.test.ts
  src/test/suite/floor-validation-mock.test.ts
  src/test/suite/label-validation-mock.test.ts
  src/test/suite/secrets-validation-mock.test.ts
  src/test/suite/service-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix linting errors
  src/language-service/src/haLanguageService.ts
Due: azure-pipelines-language-service.yml

Auto-render templates on hovering over them (#3696)
  package.json
  src/language-service/src/configuration.ts
  src/language-service/src/haLanguageService.ts
  src/server/server.ts
  src/test/suite/area-validation-mock.test.ts
  src/test/suite/device-validation-mock.test.ts
  src/test/suite/entity-validation-mock.test.ts
  src/test/suite/floor-validation-mock.test.ts
  src/test/suite/label-validation-mock.test.ts
  src/test/suite/secrets-validation-mock.test.ts
  src/test/suite/service-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Bump version to v2.1.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix Debug Auth command when Home Assistant URL contains a subpath
  .vscode/tasks.json
  src/auth/debug.ts
Due: azure-pipelines-vscode.yml

More fixes
  src/auth/debug.ts
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix indentation of tasks.json
  .vscode/tasks.json
Due: azure-pipelines-vscode.yml

Fix extension never loading
  src/language-service/src/definition/includes.ts
  src/language-service/src/fileAccessor.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/schemas/schemaService.ts
  src/server/fileAccessor.ts
  src/server/server.ts
  src/test/suite/entity-service-completion.test.ts
  src/test/suite/error-handling.test.ts
  src/test/suite/performance.test.ts
  src/test/suite/schema-validation.test.ts
  src/test/suite/script-references.test.ts
  src/test/suite/secrets-definition.test.ts
  src/test/suite/yaml-position-tracking.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

More fixes
  .vscode/extensions.json
  src/language-service/src/schemas/schemaService.ts
  src/server/fileAccessor.ts
  src/server/server.ts
  src/test/suite/area-validation-mock.test.ts
  src/test/suite/device-validation-mock.test.ts
  src/test/suite/entity-validation-mock.test.ts
  src/test/suite/floor-validation-mock.test.ts
  src/test/suite/label-validation-mock.test.ts
  src/test/suite/secrets-validation-mock.test.ts
  src/test/suite/service-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Undo optimization
  src/language-service/src/schemas/schemaService.ts
Due: azure-pipelines-language-service.yml

Fix misuse of forEach with async/await
  src/server/server.ts
Due: azure-pipelines-vscode.yml

improving blueprint usage
  src/language-service/src/schemas/integrations/core/automation.ts
  src/language-service/src/schemas/integrations/core/blueprint.ts
  src/language-service/src/schemas/integrations/core/script.ts
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

adding support for template sensor blueprint definitions
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/schemas/integrations/core/blueprint.ts
  src/language-service/src/schemas/integrations/core/template.ts
  src/language-service/src/schemas/mappings.json
  src/language-service/src/schemas/schemaService.ts
Due: azure-pipelines-language-service.yml

migrating to new eslint extension
  .vscode/extensions.json
Due: azure-pipelines-vscode.yml

migrating to new eslint extension (#3743)
  .vscode/extensions.json
Due: azure-pipelines-vscode.yml

Schema support for time trigger with offset
  src/language-service/src/schemas/integrations/triggers.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

add "default_entity_id" and "picture" to template item schema
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Rename 'trigger' to 'triggers' in template schema
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Add missing default_entity_id and picture
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Fix connection when Home Assistant URL contains a subpath (#3707)
  .vscode/tasks.json
  src/auth/debug.ts
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix extension never loading (#3708)
  src/language-service/src/definition/includes.ts
  src/language-service/src/fileAccessor.ts
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/haConfig/haYamlFile.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/schemas/schemaService.ts
  src/server/fileAccessor.ts
  src/server/server.ts
  src/test/suite/area-validation-mock.test.ts
  src/test/suite/device-validation-mock.test.ts
  src/test/suite/entity-service-completion.test.ts
  src/test/suite/entity-validation-mock.test.ts
  src/test/suite/error-handling.test.ts
  src/test/suite/floor-validation-mock.test.ts
  src/test/suite/label-validation-mock.test.ts
  src/test/suite/performance.test.ts
  src/test/suite/schema-validation.test.ts
  src/test/suite/script-references.test.ts
  src/test/suite/secrets-definition.test.ts
  src/test/suite/secrets-validation-mock.test.ts
  src/test/suite/service-validation-mock.test.ts
  src/test/suite/yaml-position-tracking.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

add "default_entity_id" and "picture" to template item schema (#3870)
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

improving blueprint usage (#3739)
  src/language-service/src/schemas/integrations/core/automation.ts
  src/language-service/src/schemas/integrations/core/blueprint.ts
  src/language-service/src/schemas/integrations/core/script.ts
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

adding support for template sensor blueprint definitions (#3740)
  src/language-service/src/haConfig/haConfig.ts
  src/language-service/src/schemas/integrations/core/blueprint.ts
  src/language-service/src/schemas/integrations/core/template.ts
  src/language-service/src/schemas/mappings.json
  src/language-service/src/schemas/schemaService.ts
Due: azure-pipelines-language-service.yml

Schema support for time trigger with offset (#3768)
  src/language-service/src/schemas/integrations/triggers.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Fix use of input in conditions
  src/language-service/src/schemas/integrations/conditions.ts
  src/language-service/src/schemas/types.ts
  src/test/suite/condition-selector-issue-2786.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix use of input in conditions (#3913)
  src/language-service/src/schemas/integrations/conditions.ts
  src/language-service/src/schemas/types.ts
  src/test/suite/condition-selector-issue-2786.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix automation schema mapping
  src/language-service/src/schemas/integrations/core/automation.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Fix automation schema mapping (#3914)
  src/language-service/src/schemas/integrations/core/automation.ts
  src/language-service/src/schemas/mappings.json
Due: azure-pipelines-language-service.yml

Fix WebSocket connection issue with trailing slashes
  src/auth/debug.ts
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix WebSocket connection issue with trailing slashes (#3915)
  src/auth/debug.ts
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Performance improvements and stackoverflow fixes
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/server/server.ts
  src/test/suite/area-validation-mock.test.ts
  src/test/suite/device-validation-mock.test.ts
  src/test/suite/entity-validation-mock.test.ts
  src/test/suite/floor-validation-mock.test.ts
  src/test/suite/label-validation-mock.test.ts
  src/test/suite/secrets-validation-mock.test.ts
  src/test/suite/service-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Ran linters
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml

Performance improvements and stackoverflow fixes (#3916)
  src/language-service/src/completionHelpers/entityIds.ts
  src/language-service/src/haLanguageService.ts
  src/language-service/src/home-assistant/haConnection.ts
  src/server/server.ts
  src/test/suite/area-validation-mock.test.ts
  src/test/suite/device-validation-mock.test.ts
  src/test/suite/entity-validation-mock.test.ts
  src/test/suite/floor-validation-mock.test.ts
  src/test/suite/label-validation-mock.test.ts
  src/test/suite/secrets-validation-mock.test.ts
  src/test/suite/service-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Adds support for the reorder property in entity selector configurations
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Exclude Docker Compose and ESPHome files from Home Assistant language association
  src/extension.ts
Due: azure-pipelines-vscode.yml

Exclude Docker Compose and ESPHome files from Home Assistant language association (#3918)
  src/extension.ts
Due: azure-pipelines-vscode.yml

Adds support for the reorder property in entity selector configurations (#3917)
  src/language-service/src/schemas/integrations/selectors.ts
Due: azure-pipelines-language-service.yml

Only show action buttons in the tab bar when an HA-related file is open
  package.json
Due: azure-pipelines-vscode.yml
