Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:
  stages:
  - stage: build
    displayName: Build
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - script: 'rm package-lock.json # this is weird is should not be needd
  
          npm install
  
          npm run compile
  
          mkdir package
  
          cd package
  
  ...

azure-pipelines-vscode.yml:
  stages:
  - stage: build
    displayName: Build
    condition: null
    jobs:
    - job: BuildExtension
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 8.x
        displayName: Install Node.js
      - script: 'npm install
  
          npm run compile
  
  ...

Add max queue length property to automation
  src/language-service/src/schemas/integrations/automation.ts
Due: azure-pipelines-language-service.yml

Add max queue length property to automation (#430)
  src/language-service/src/schemas/integrations/automation.ts
Due: azure-pipelines-language-service.yml

Bump Home Assistant JS WebSocket to 5.5.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Bump Home Assistant JS WebSocket to 5.5.0 (#431)
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix using secrets with core elevation setting
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Fix using secrets with core elevation setting (#437)
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Bump version to v1.8.1
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Bump version to v1.8.1 (#439)
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix number state condition strictness on entity_id
  src/language-service/src/schemas/conditions.ts
Due: azure-pipelines-language-service.yml

Fix number state condition strictness on entity_id (#442)
  src/language-service/src/schemas/conditions.ts
Due: azure-pipelines-language-service.yml

Allow for person entities in zone trigger schema
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Allow for person entities in zone trigger schema (#444)
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Allow templates in time period mapping
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Fix number state condition strictness on entity_id (#442) (#445)
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

add snippets
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

reduce leading spaces
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

reduce leading spaces for missing snippets
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

format
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

format with prettier
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

Fix typos
  .github/ISSUE_TEMPLATE/1. yaml-error-or-warning.md
  README.md
  src/language-service/src/haLanguageService.ts
  src/language-service/src/schemas/generateSchemas.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix type of initial_state
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Update types.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add snippets and remove snippets leading spaces (#453)
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-vscode.yml

Add the ability to reload homekit
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Add support for multiple times and input_datetime entities in time triggers
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Add support for attributes in state/numeric state trigger
  src/language-service/src/schemas/integrations/automation.ts
Due: azure-pipelines-language-service.yml

Add support for attributes in (numeric) state conditions
  src/language-service/src/schemas/conditions.ts
Due: azure-pipelines-language-service.yml

Data template changes in service calls
  src/language-service/src/schemas/actions.ts
  src/language-service/src/schemas/types.ts
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Minor readme markdown formatting improvements
  README.md
Due: azure-pipelines-vscode.yml

Minor typo/formatting fixes (#485)
  .github/ISSUE_TEMPLATE/1. yaml-error-or-warning.md
  README.md
  src/language-service/src/haLanguageService.ts
  src/language-service/src/schemas/generateSchemas.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add support for attributes in (numeric) state conditions (#554)
  src/language-service/src/schemas/conditions.ts
Due: azure-pipelines-language-service.yml

Add support for attributes in state/numeric state trigger (#553)
  src/language-service/src/schemas/integrations/automation.ts
Due: azure-pipelines-language-service.yml

Add support for multiple times and input_datetime entities in time triggers (#552)
  src/language-service/src/schemas/integrations/automation.ts
  src/language-service/src/schemas/types.ts
Due: azure-pipelines-language-service.yml

Data template changes in service calls (#555)
  src/language-service/src/schemas/actions.ts
  src/language-service/src/schemas/types.ts
  src/snippets/homeassistant_automation.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add the ability to reload HomeKit (#551)
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Fix number state trigger strictness on entity_id
  src/language-service/src/schemas/integrations/automation.ts
Due: azure-pipelines-language-service.yml

Fix number state trigger strictness on entity_id (#556)
  src/language-service/src/schemas/integrations/automation.ts
Due: azure-pipelines-language-service.yml

Fix Core packages root schema
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Fix Core packages root schema (#557)
  src/language-service/src/schemas/core.ts
Due: azure-pipelines-language-service.yml

Add the ability to reload filesize integration
  package.json
  src/extension.ts
Due: azure-pipelines-vscode.yml

Path conditions:
  azure-pipelines-language-service.yml: any of: src/language-service, azure-pipelines-language-service.yml
  azure-pipelines-vscode.yml: any of: *, but not: src/language-service
