Repository keesschollaart81/vscode-home-assistant: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

azure-pipelines-language-service.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - 'src/language-service/*'  
    - 'azure-pipelines-language-service.yml'  
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  jobs: 
  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest' 
    steps: 

    - script: |
        rm package-lock.json # this is weird is should not be needd
        npm install
        npm run compile
        mkdir package
        cd package
        npm pack ../
      workingDirectory: src/language-service
      displayName: 'NPM Install, Compile and Pack' 

    - task: PublishPipelineArtifact@1
      displayName: Publish package as Artifact
      inputs:
        targetPath: 'src/language-service/package' 
        artifact: language-service 

- stage: publish
  displayName: 'Publish to NPM'
  condition: succeeded('build')
  jobs:
  - deployment: publish_to_npm
    displayName: Publish to NPM
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: language-service 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
 
          - task: Npm@1
            displayName: Publish to NPMjs.org
            inputs:
              command: 'custom'
              customCommand: 'publish *.tgz'
              publishEndpoint: 'npmjs.org' 
              workingDir: '$(Pipeline.Workspace)'

azure-pipelines-vscode.yml:

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - '*'  
    exclude:
    - 'src/language-service/*'
pr:
- dev
  
stages:
- stage: build
  displayName: 'Build'
  condition:  
  jobs:

  - job: BuildExtension
    pool:
      vmImage: 'ubuntu-latest'
          
    steps:

    - task: NodeTool@0
      inputs:
        versionSpec: '8.x'
      displayName: 'Install Node.js' 

    - script: |
        npm install
        npm run compile
      displayName: 'npm install and compile'

    - script: |
        sudo npm install -g vsce
        vsce package
      displayName: Create VSIX
 
    - task: CopyFiles@2
      displayName: Stage VSIX for publishing
      inputs:
        contents: |-
          *.vsix
        targetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: Publish VSIX as Artifact
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifact: vscode-home-assistant 

- stage: publish
  displayName: 'Publish'
  condition: succeeded('build')
  jobs:
  - deployment: publish
    displayName: Publish
    pool:
      vmImage: 'ubuntu-latest' 
    environment: Production
    strategy:
      runOnce:
        deploy:  
          steps:  

          - task: DownloadPipelineArtifact@2
            displayName: Download package from build artifacts
            inputs:
              artifactName: vscode-home-assistant 
              buildType: 'current'
              targetPath: '$(Pipeline.Workspace)'
            
          - task: GitHubRelease@0
            displayName: 'GitHub release (create)'
            inputs:
              gitHubConnection: GitHub
              assets: '$(Pipeline.Workspace)/**/*.vsix'
           
          - script: |
              sudo npm install -g vsce
            
              find . -name \*.vsix -type f -exec vsce publish --pat $MARKETPLACETOKEN --packagePath {} \;
            workingDirectory: '$(Pipeline.Workspace)'
            displayName: 'Publish Extension to Marketplace'
            env:
                MarketplaceToken: $(MarketplaceToken)

Update MQTT schemas for sensor and binary sensor (#3598)
  src/language-service/src/schemas/integrations/core/mqtt.ts
Due: azure-pipelines-language-service.yml

Update Thermostat & Humidifier card schemas (#3599)
  src/language-service/src/schemas/lovelace/cards/humidifier.ts
  src/language-service/src/schemas/lovelace/cards/thermostat.ts
Due: azure-pipelines-language-service.yml

Fix RepeatAction for_each type to accept an array of Data
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Fix RepeatAction for_each type to accept an array of Data (#3600)
  src/language-service/src/schemas/integrations/actions.ts
Due: azure-pipelines-language-service.yml

Extend support for custom sentences and responses
  src/language-service/src/schemas/integrations/core/conversation.ts
Due: azure-pipelines-language-service.yml

Extend support for custom sentences and responses (#3601)
  src/language-service/src/schemas/integrations/core/conversation.ts
Due: azure-pipelines-language-service.yml

Add error handling and display render issue when rendering template
  src/language-service/src/home-assistant/haConnection.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Add error handling and display render issue when rendering template (#3602)
  src/language-service/src/home-assistant/haConnection.ts
  src/server/server.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Bump version to v2.0.0
  package-lock.json
  package.json
  src/language-service/package-lock.json
  src/language-service/package.json
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix release process
  .github/workflows/github-actions-vscode-extension.yml
Due: azure-pipelines-vscode.yml

Update VSCode engine requirement to ^1.100.0
  package-lock.json
  package.json
Due: azure-pipelines-vscode.yml

Update licence year to 2025
  LICENSE.md
Due: azure-pipelines-vscode.yml

Update licence year to 2025 (#3604)
  LICENSE.md
Due: azure-pipelines-vscode.yml

Don't throw warnings for Long-Lived Access Tokens
  src/auth/debug.ts
  src/language-service/src/home-assistant/socket.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Keep debug info in case of JWT
  src/language-service/src/home-assistant/socket.ts
Due: azure-pipelines-language-service.yml

Reduce log verbosity from HA updates
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml

Don't throw warnings for Long-Lived Access Tokens (#3605)
  src/auth/debug.ts
  src/language-service/src/home-assistant/socket.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Do not migrate environment authentication information
  src/auth/middleware.ts
Due: azure-pipelines-vscode.yml

Reduce log verbosity from HA updates (#3606)
  src/language-service/src/home-assistant/haConnection.ts
Due: azure-pipelines-language-service.yml

Do not migrate environment authentication information (#3607)
  src/auth/middleware.ts
Due: azure-pipelines-vscode.yml

climate preset modes
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

humidity_state_address
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

climate-fan
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

climate-swing
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

expose-value-template
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

Update KNX schema (#3618)
  src/language-service/src/schemas/integrations/core/knx.ts
Due: azure-pipelines-language-service.yml

fix: remove slice from ha yaml file
  src/language-service/src/haConfig/haYamlFile.ts
Due: azure-pipelines-language-service.yml

Update template.ts by switch
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

fix: remove slice from ha yaml file (#3660)
  src/language-service/src/haConfig/haYamlFile.ts
Due: azure-pipelines-language-service.yml

Update template.ts by switch (#3664)
  src/language-service/src/schemas/integrations/core/template.ts
Due: azure-pipelines-language-service.yml

Fix unresolved tag errors
  src/language-service/src/haConfig/haYamlFile.ts
Due: azure-pipelines-language-service.yml

Fix unresolved tag errors (#3692)
  src/language-service/src/haConfig/haYamlFile.ts
Due: azure-pipelines-language-service.yml

Skip commented out YAML lines for existance checks
  src/language-service/src/haLanguageService.ts
  src/test/suite/area-validation-mock.test.ts
  src/test/suite/device-validation-mock.test.ts
  src/test/suite/entity-validation.test.ts
  src/test/suite/floor-validation-mock.test.ts
  src/test/suite/label-validation-mock.test.ts
  src/test/suite/secrets-validation-mock.test.ts
  src/test/suite/service-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Skip commented out YAML lines for existance checks (#3693)
  src/language-service/src/haLanguageService.ts
  src/test/suite/area-validation-mock.test.ts
  src/test/suite/device-validation-mock.test.ts
  src/test/suite/entity-validation.test.ts
  src/test/suite/floor-validation-mock.test.ts
  src/test/suite/label-validation-mock.test.ts
  src/test/suite/secrets-validation-mock.test.ts
  src/test/suite/service-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml

Fix restart and reboot commands
  package.json
  src/extension.ts
  src/test/suite/extension.test.ts
Due: azure-pipelines-vscode.yml

Fix restart and reboot commands (#3694)
  package.json
  src/extension.ts
  src/test/suite/extension.test.ts
Due: azure-pipelines-vscode.yml

Fixes action does not exists outside of action context
  src/language-service/src/haLanguageService.ts
  src/test/suite/automation-trigger-issue-3623.test.ts
  src/test/suite/service-validation-mock.test.ts
Due: azure-pipelines-language-service.yml, azure-pipelines-vscode.yml
